{% extends "legacy_base.html" %}

{% block breadcrumbs %}
<div class="container">
  <div class="breadcrumbs">
    <a id="breadcrumb_home" href="/">Home</a> / <a id="breadcrumb_about" href="/about">About</a>
      <div id="language" style="text-align: right; margin-top: -20px; margin-right: 20px;">
      <a href="/language?language='fr'&redirect='/about'">Français</a> / <a href="/language?language='en'&redirect='/about'">English </a>
      </div>
  </div>
</div>
{% endblock %}


{% block content %}
<div class="top">
  <h1>About</h1>
<hr/>
<h3><em>We need unique content here instead of what is below</em></h3>
<p>The purpose of the website is to increase access to and coordination of programming and services for vulnerable children across all main service areas (i.e. health, education and legal services).</p>
        <p>To accomplish our goal, this website provides an online directory of resources and services that can be easily searched with the use of an interactive online map of these services.</p>
    <p>The immediate objective is to develop an online interactive map that: focuses on the identification of the services; includes all services identified and verified concerning the welfare of children; provides access to all stakeholders via a platform based on the Web; be available to the Bridgade IBESR phone service to provide operators with information specific reference.</p>
</div>
{% endblock %}
