{% extends "legacy_base.html" %}
{% block title %}
<title>Contact Us: Cartographie des services disponibles pour enfants et familles vulnérables en Haïti</title>
{% endblock %}

{% block breadcrumbs %}
<div class="container">
  <div class="breadcrumbs">
    <a id="breadcrumb_home" href="/">Home</a> / <a id="breadcrumb_contact" href="/contact">Contact</a>
      <div id="language" style="text-align: right;  float:right; margin-right: 20px;">
      <a href="/language?language='fr'&redirect='/contact'">Français</a> / <a href="/language?language='en'&redirect='/contact'">English </a>
      </div>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="top">
<h1>Contact IBESR</h1>
<p>If you have any questions for IBESR, you may reach us by using the contact form below. Please provide you name, email address, and a detailed message for your questions or comments.</p>
<p>We look forward to hearing from you!</p>
<div class="contact-form contact">
<form method="POST" action="">
    <table>
      <tr>
        <td><label for="name">Name</label></td>
        <td><input id="name" name="name" type="text" value="" required></td>
      </tr>
      <tr>
        <td><label for="email">Email Address</label></td>
        <td><input id="email" name="email" type="text" value="" required></td>
      </tr>
      <tr>
        <td><label for="email">Subject</label></td>
        <td><input id="subject" name="subject" type="text" value=""></td>
      </tr>        
      <tr>
        <td><label for="email">Message</label></td>
          <td><textarea id="message" name="message" type="text" value=""></textarea></td>
      </tr>

    </table>
    <br>
    <input type=submit value=Submit id="submit">
  </form>
</div>
</div>
{% endblock %}
