{% extends "legacy_base.html" %}
{% block title %}
<title>Welcome: Cartographie des services disponibles pour enfants et familles vulnérables en Haïti</title>
<style>
.static-map img {width: 80%;}
</style>
{% endblock %}

{% block breadcrumbs %}
<div class="container">
  <div class="breadcrumbs">
    <a id="breadcrumb_home" href="/">Home</a>
      <div id="language" style="text-align: right;  float:right; margin-right: 20px;">
      <a href="/language?language='fr'&redirect='/'">Français</a> / <a href="/language?language='en'&redirect='/'">English </a>
      </div>
  </div>
</div>
{% endblock %}

{% block content %}

<div class="top">
<h1>Welcome to “Sèvis Pwoteksyon timoun an Ayiti” website.</h1>    
<div id="map" class="home-map"></div>
<p>Under  the Institute of Social Welfare and Research’ s coordination and leadership , this website provides an online directory of resources, projects, and services available for vulnerable children across the country.</p>
<p>It is also an excellent tool for the public, to identify and locate the organizations offering the services. This site includes organizations/programs that provide food and nutritional support, temporary shelter and care, psycho social support, formal and informal education, legal services, health care with a focus on mental health services for vulnerable children and their families.</p>

<p>It offers also the possibility of adding a newly created institution or who has not been yet identified.</p>  
<div class="headnote">
<div class="headnote_left">
<h3>Search for programs and services</h3>
    <p><strong>Identify key agencies and the programs.</strong> Collect and share data to better serve children of Haiti.</p>
</div>
<div class="top-cta">
    <a href="/search"><div class="btn">Search</div></a>
</div>
</div>    
</div> <!-- //.top -->

<div class="mid" id="mid-home">
    <h2>Made With Collaboration In Mind</h2>
        <p>The purpose of the website is to increase access to and coordination of programming and services for vulnerable children across all main service areas (i.e. health, education and legal services).</p>
        <p>To accomplish our goal, this website provides an online directory of resources and services that can be easily searched with the use of an interactive online map of these services.</p>
    <p>The immediate objective is to develop an online interactive map that: focuses on the identification of the services; includes all services identified and verified concerning the welfare of children; provides access to all stakeholders via a platform based on the Web; be available to the Bridgade IBESR phone service to provide operators with information specific reference.</p>
            
</div>

<div class="bottom">
    <div class="icon-row">
        <div class="icon-box" align="center"><span class="genericon genericon-chat"></span><p class="list"><strong>Identify potential partners and collaborations.</strong></p></div>

        <div class="icon-box" align="center"><span class="genericon genericon-search"></span><p class="list"><strong>Identify gaps and avoid duplication.</strong></p></div>

        <div class="icon-box" align="center"><span class="genericon genericon-cog"></span><p class="list"><strong>Improve coordination and data.</strong></p></div>

        <div class="icon-box" align="center"><span class="genericon genericon-checkmark"></span><p class="list"><strong>Make better decisions.</strong></p></div>
    </div>

<div class="footnote">
<div class="footnote_left">
<h3>Share your organization and service information.</h3>
    <p><strong>We want to hear from you!</strong> Join our vision to better serve children in Haiti.</p>
</div>
<div class="bottom-cta">
    <a href="/suggest_services"><div class="btn">Suggest Services</div></a>
</div>
</div>
<div style="clear:both;"></div>    
<a name="definitions"><h1 class="search-cat">Search Categories and Definitions</h1></a>
    <span class="genericon genericon-aside cat"></span><p><strong>Food and nutrition support</strong></p>
    <p>These services have the desired outcome of enhancing nutritional status and preventing deaths due to malnutrition among vulnerable children.</p>
    <p>This site includes organizations that provide food and /or nutritional support to vulnerable children.   Nutrition services will vary depending on whether the child is an infant, breastfeeding, receiving complementary feeding or more than 2 years old.  Both the type of food and the age range that the support will be focused at will be documented in this document.</p>
    <p><em>Impact areas: Children in households below the poverty line, Street children; abandoned children, Refugee and displaced children.</em></p>
    <span class="genericon genericon-home cat"></span><p><strong>Shelter and care</strong></p>
    <p>These services have the desired outcome of ensuring that no child goes without shelter, clothing, access to clean safe water or basic personal hygiene, and that children have at least one adult who provides them with love and support.</p>
    <p>This site includes organizations that assist families with vulnerable children by providing temporary shelters, rehabilitation of current shelters, or blankets and other essential toiletries.</p>
    <p><em>Impact areas: Children in households below the poverty line, Children in households headed by children, youth, the elderly or women, Children in households where an adult is chronically ill, Children affected or infected by HIV/AIDS, Refugee and displaced children, Street children; abandoned children</em></p>
    <span class="genericon genericon-lock cat"></span><p><strong>Protection</strong></p>
    <p>These services either prevent or respond to child sexual and physical abuse.  Protection services for vulnerable children can also look at services that support better placement of children in orphanages, reunification of children in orphanages back with their families and reunification of siblings.</p>
    <p>This site includes organizations with interventions such as facilitating basic birth registration and identification necessary for long-term access to education, health care and social services; removing children from abusive situations into safe, temporary or permanent placements </p>
    <p><em>Impact areas: Children victims of violence, Children victims of sexual abuse and exploitation, Children victims of trafficking, Child sex workers, Refugee and displaced children.</em></p>        
    <span class="genericon genericon-summary cat"></span><p><strong>Healthcare</strong></p>
    <p>These services have the desired outcome of meeting the health needs of vulnerable children according to their age.</p>
    <p>This site includes organizations that offer to vulnerable children for free or at a reduced cost.  Health services might include immunizations, growth monitoring or care taker education on topics like breastfeeding and complimentary feeding for children under-fives.  Other services that might exist are sick child health services or pediatric HIV treatment and care.</p>
    <p><em>Impact areas: Children in households below the poverty line, Children in households where an adult is chronically ill, Children affected or infected by HIV/AIDS, Street children; abandoned children, Children with disabilities, Children victims of violence, Children victims of sexual abuse and exploitation, Children victims of trafficking, Children victims of the worst forms of child labor, Child sex workers, Refugee and displaced children.</em></p>          
    <span class="genericon genericon-heart cat"></span><p><strong>Psychosocial support services (PSS)</strong></p>
    <p>These services have the desired outcome of ensuring that children have the human attachments necessary for normal development and that children can participate cooperatively in activities such as school, recreation and work with other children and adults.  PSS also looks to support children beyond the normal development process.  PSS supports vulnerable children and caretakers who have had strains on their lives.  Examples of strains could include living with HIV, a family member with a chronic disease, a traumatic experience or abandonment.</p>
    <p>This site will eventually include organizations that assist with referral to counseling where available and appropriate to include activities specific to HIV-positive youth; and rehabilitation/re-integration for children who are living outside of family care, support groups for caretakers such as mother feeding groups or a group of vulnerable teens getting together to discuss issues and have fun together. Organizations that provide training and support to frontline workers who are the “gatekeepers” – those most likely to come into contact with highly vulnerable children, including local NGO field staff, local volunteers, social workers, police brigade, school counselors and nurses, and staff of child residential care facilities; assist police in how to constructively and appropriately deal with highly vulnerable children who are in violation of the law.</p>
    <p><em>Impact areas: Children in households below the poverty line, Children affected or infected by HIV/AIDS, Street children; abandoned children, Children with disabilities, Children victims of violence, Children victims of sexual abuse and exploitation, Children victims of trafficking, Children victims of the worst forms of child labor, Child sex workers, Refugee and displaced children,     Children living in institutions (ex: orphanages, prisons, mental health facilities), Children in conflict with the law</em></p>    
    <span class="genericon genericon-book cat"></span><p><strong>Formal and informal education</strong></p>
    <p>These services have the desired outcome of ensuring that vulnerable children receive educational and vocational opportunities in accord with community norms and market-driven employment options.</p>
    <p>This site includes that encourage access to all to formal education system for highly vulnerable children; and provide short-term, direct assistance to subsidize school-related costs (e.g., fees, books, uniforms), that have a school feeding program.</p>
    <p><em>Impact areas: Children in households below the poverty line, Children who are married before the legally defined age, Refugee and displaced children.</em></p>
    <span class="genericon genericon-category cat"></span><p><strong>Legal services</strong></p>
    <p>Protection, legal and otherwise, represents the wall of security needed by adolescents to enable them access to the provisions that ensure basic freedoms and rights.</p>
    <p>This site includes organizations that provide legal and paralegal services for vulnerable children and caretakers.  This would map legal assistance or support to access legal assistance to vulnerable children and their caretakers.  Examples include for those in conflict with the law, for sexual or physical abuse cases, obtaining birth registration and certificate, or reporting a legal claim about child abduction or trafficking. </p>
    <p><em>Impact areas: Children in conflict with the law, Children victims of violence, Children victims of sexual abuse and exploitation, Children victims of trafficking, Children victims of the worst forms of child labor, Child sex workers</em></p>
    <span class="genericon genericon-info cat"></span><p><strong>Other services</strong></p>
    <p>If other key services are found during mapping activities or via another vulnerable children actor, they will be included.</p>   
</div>

<!-- Scripts Go Here -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js" type="text/javascript"></script>
<script type="text/javascript">
    function getURLParameter(name) {
      return decodeURIComponent((new RegExp('[?|&]' + name + '=' + '([^&;]+?)(&|#|;|$)').exec(location.search)||[,""])[1].replace(/\+/g, '%20'))||null
    }
  var map = L.map('map').setView([18.733, -72.733], 7);
    map.scrollWheelZoom.disable();

  // add an OpenStreetMap tile layer
  L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
      attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
  }).addTo(map);
</script>
{% endblock %}