{% extends "legacy_base.html" %}
{% block title %}
<title>Mental Health Services: Cartographie des services disponibles pour enfants et familles vulnérables en Haïti</title>
{% endblock %}

{% block breadcrumbs %}
<div class="container">
  <div class="breadcrumbs">
    <a id="breadcrumb_home" href="/">Home</a> / <a id="breadcrumb_mental_illness_services" href="/mental_illness_services">Mental Health Services</a>
    <div id="language" style="text-align: right;  float:right; margin-right: 20px;">
      <a href="/language?language='fr'&redirect='/services'">Français</a> / <a href="/language?language='en'&redirect='/services'">English </a>
    </div>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="top">
  <h1>Raise awareness around mental health services in Haiti</h1>
    <p>In addition to the project and services mapping, the project exercise will work with the University of Social Work at the “Faculté des Sciences Humaines” to locate and document mental health services for children and caretakers in Haiti.</p>
    <p>Haiti has a limited number of professionals with advanced degrees to address child welfare. In an effort to facilitate the social service workforce, the University of Social Work, IBESR and CRS will document all social workers and mental health service where about in Haiti. The information gathered will enable professionals working with vulnerable children to choose the right interventions for each individual child. To do so the University of Social Work, IBESR and CRS will look at existing training models in order to equip local community member with basic case management skills and support them to work with vulnerable children and families under the supervision of social work professionals.</p>
</div>

<div class="mid">
    <h2>What is mental health and why is it important for a child’s development?</h2>
    <p>According to the Inter-Agency Standing Committee (IASC), the terms mental health and psychosocial support can be used interchangeably to describe “any type of local or outside support that aims to protect or promote psychosocial wellbeing and/or prevent or treat mental disorder.”</p>
    <p>The World Health Organization (WHO) defines mental health as a state of wellbeing where one can realize their own abilities, engage in healthy coping strategies, and contribute to society through productive work and positive community contributions.</p>
</div>

<div class="bottom">
    <h3>The importance of recognizing the value of a person’s mental well-being is essential to ensuring that an individual has the ability to reach their full human potential and live in a caring and nurturing environment that promotes hope and dignity.</h3>
    <p>A person with a healthy mind should be able to think clearly; solve various problems faced in life; enjoy good relations with friends, colleagues at work and family; and feel spiritually at ease and bring happiness to others in the community.</p>
    <p>The importance of providing a nurturing and healthy environment for a child, not only contributes to their physical development and growth, but also enables for positive mental development and socialization. Children require constant care and support that includes the basic needs of food, shelter, healthcare, and education. In order to develop into productive and mindful adults, children also require an upbringing that is filled with love, social support and protection from harm or abuse.  Without care and loving support, a child runs the risk of falling behind with their developmental milestones and developing poor mental health or coping mechanisms.</p>
    <p>Beyond the basic needs of all children, many vulnerable children and youth are exposed to the devastating effects of poverty, societal or environmental emergencies, conflict, and chronic illness, such as HIV.  Vulnerable children require extra emotional and social support. Many have experienced great stress and trauma- lost parents and family members, experienced deprivation and abuse, been stigmatized, witnessed atrocities, and suffered overwhelming grief. Without the proper care and support they have the potential to develop a mental illness or experience a delay in development.</p>
    <a href="/search?prog=8" class="btn btn-a">Search for Mental Health Services</a>

</div>


{% endblock %}
