{% extends "legacy_base.html" %}

{% block breadcrumbs %}
<div class="container">
  <div class="breadcrumbs">
    <a id="breadcrumb_home" href="/">Home</a> / <a id="breadcrumb_search" href="/search">Search</a>
      <div id="language" style="text-align: right; float:right; margin-right: 20px;">
      <a href="/language?language='fr'&redirect='/search'">Français</a> / <a href="/language?language='en'&redirect='/search'">English </a>
      </div>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="top">
  <h1>Search</h1>
    <hr/>
    <p>Search by any of seven services provided, organization name, location, target population or using keywords. The result will be summarized, mapped and available to print or email.</p>
<form action="/search" method="get" id="main-search-form">
            <!--input type="submit" value="Submit"-->
<!-- containing form for search -->
    <div id="search-container" align="center">
    <div class="search" align="center">
            <label>Keywords</label>
            <input type="text" name="keywords" value="" id="keywords" placeholder="enter search terms here...">

    </div>
<div class="search" align="center">
        <label>Service</label>
        <select name="service">
            <option value="" selected>Sélectionnez Service</option>
            <optgroup label="Nutrition (Prog 1)">
                <option value="Cantine scolaire">Cantine scolaire</option>
                <option value="Distribution de lait pour bébé">Distribution de lait pour bébé</option>
                <option value="Distribution de nourriture pour l’enfant adapté à son âge">Distribution de nourriture pour l’enfant adapté à son âge</option>
                <option value="Distribution ration sèche">Distribution ration sèche</option>
                <option value="Education nutritionnelle">Education nutritionnelle</option>
                <option value="Jardins potagers">Jardins potagers</option>
                <option value="Sécurité alimentaire">Sécurité alimentaire</option>
            </optgroup>
            <optgroup label="Soins à domicile (Prog 2)">
                <option value="Autres à spécifier">Autres à spécifier</option>
                <option value="Distribution de kits d’hygiène">Distribution de kits d’hygiène</option>
                <option value="Distribution de produit pour le traitement de l’eau">Distribution de produit pour le traitement de l’eau</option>
                <option value="Vêtements">Vêtements</option>
            </optgroup>
            <optgroup label="Abri">
                <option value="Abri permanent">Abri permanent</option>
                <option value="Abri provisoire">Abri provisoire</option>
                <option value="Autres à spécifier">Autres à spécifier</option>
                <option value="Réparation de maison">Réparation de maison</option>
                <option value="spécifier quel type_____________">spécifier quel type_____________</option>
            </optgroup>
            <optgroup label="Protection de l’enfant (Prog 4)">
                <option value="abus émotionnel">abus émotionnel</option>
                <option value="Abus physique">Abus physique</option>
                <option value="abus sexuel">abus sexuel</option>
                <option value="Autres">Autres</option>
                <option value="formation sur la protection de l’enfant">formation sur la protection de l’enfant</option>   
                <option value="négligence">négligence</option>       
                <option value="Parrainage">Parrainage</option>
                <option value="placement en famille d’accueil permanente">placement en famille d’accueil permanente</option>
                <option value="placement en famille d’accueil transitoire">placement en famille d’accueil transitoire</option>
                <option value="placement en maisons d’enfants en accord avec IBESR">placement en maisons d’enfants en accord avec IBESR</option>
                <option value="protection légale">protection légale</option>
                <option value="Réponses aux cas d’abus et exploitation">Réponses aux cas d’abus et exploitation</option>
                <option value="réunification familiale">réunification familiale</option>
                <option value="support aux enfants des rues">support aux enfants des rues</option>
                <option value="support aux enfants en conflit avec la loi">support aux enfants en conflit avec la loi</option>
                <option value="support aux enfants en domesticité">support aux enfants en domesticité</option>
                <option value="support aux enfants handicapés">support aux enfants handicapés</option>
                <option value="support aux enfants victimes de traite">support aux enfants victimes de traite</option>
            </optgroup>
            <optgroup label="Santé (Prog 5)">
                <option value="Autres">Autres</option>
                <option value="Consultation pour enfants">Consultation pour enfants</option>
                <option value="Déparasitage">Déparasitage</option>
                <option value="Distribution de vitamine A etc…">Distribution de vitamine A etc…</option>
                <option value="Education sanitaires des parents / tuteurs">Education sanitaires des parents / tuteurs</option>
                <option value="Poste de rassemblement/Vaccination">Poste de rassemblement/Vaccination</option>
                <option value="Service de réadaptation et de stimulation pour les handicapés">Service de réadaptation et de stimulation pour les handicapés</option>
                <option value="Soins aux enfants affectés/ infectés par  le VIH/SIDA">Soins aux enfants affectés/ infectés par  le VIH/SIDA</option>
            </optgroup>
            <optgroup label="Soutien psychosocial (Prog 6)">
                <option value="Activités culturelles">Activités culturelles</option>
                <option value="Activités ludiques">Activités ludiques</option>
                <option value="Art floral">Art floral</option>
                <option value="Autres">Autres</option>
                <option value="Counselling">Counselling</option>
            </optgroup>
            <optgroup label="Education (Prog 7)">
                <option value="Autres">Autres</option>
                <option value="Ecole spécialisée pour handicapés">Ecole spécialisée pour handicapés</option>
                <option value="Formation non formelle">Formation non formelle</option>
                <option value="Formation professionnelle Spécifier">Formation professionnelle Spécifier</option>
                <option value="Préscolaire">Préscolaire</option>
                <option value="Primaire">Primaire</option>
                <option value="Secondaire">Secondaire</option>
            </optgroup>
            <optgroup label="Services Sante Mentales (Prog 8)">
                <option value="Services Sante Mentales">Services Sante Mentales</option>
            </optgroup>
        </select>
    </div>
    <div class="search" align="center">
        <label>Department</label>
        <select name="department">
            <option value="" selected>Select Department</option>
            <optgroup label="Artibonite">
                <option value="Anse rouge">Anse rouge</option>
                <option value="Ennery">Ennery</option>
                <option value="Gonaives">Gonaives</option>
                <option value="Saint-michel">Saint-michel</option>
                <option value="Terre neuve">Terre neuve</option>
            </optgroup>
            <optgroup label="Centre">
                <option value="Belladere">Belladere</option>
                <option value="Ceca la source">Ceca la source</option>
                <option value="Cerca carvajal">Cerca carvajal</option>
                <option value="Hinche">Hinche</option>
                <option value="Lascahobas">Lascahobas</option>
                <option value="Maissade">Maissade</option>
                <option value="Saut-d'eau">Saut-d'eau</option>
                <option value="Thomassique">Thomassique</option>
                <option value="Thomonde">Thomonde</option>
            </optgroup>
            <optgroup label="Grand Anse">
                <option value="Dame-marie">Dame-marie</option>
                <option value="Jeremie">Jeremie</option>
            </optgroup>
            <optgroup label="Nippes">
            </optgroup>
            <optgroup label="Nord">
                <option value="Pignon">Pignon</option>
            </optgroup>
            <optgroup label="Nord">
                <option value="Pignon">Pignon</option>
            </optgroup>
            <optgroup label="Nord-Est">
            </optgroup>
            <optgroup label="Nord-Ouest">
            </optgroup>
            <optgroup label="Ouest">
                <option value="Delmas">Delmas</option>
                <option value="Leogane">Leogane</option>
                <option value="Petit-goave">Petit-goave</option>
            </optgroup>
            <optgroup label="Sud">
                <option value="Aquin">Aquin</option>
                <option value="Arniquet">Arniquet</option>
                <option value="Camp perrin">Camp perrin</option>
                <option value="Cavaillon">Cavaillon</option>
                <option value="Chantal">Chantal</option>
                <option value="Coteaux">Coteaux</option>
                <option value="Les anglais">Les anglais</option>
                <option value="Les cayes">Les cayes</option>
                <option value="Maniche">Maniche</option>
                <option value="Port-a-piment">Port-a-piment</option>
                <option value="Port-salut">Port-salut</option>
                <option value="Roche-a-bateau">Roche-a-bateau</option>
                <option value="St. Jean du sud">St. Jean du sud</option>
                <option value="St. Louis du sud">St. Louis du sud</option>
                <option value="Tiburon">Tiburon</option>
                <option value="Torbeck">Torbeck</option>
            </optgroup>
            <optgroup label="Sud-Est">
                <option value="Anse-a-pitre">Anse-a-pitre</option>
                <option value="Bainet">Bainet</option>
                <option value="Belle anse">Belle anse</option>
                <option value="Cayes-jacmel">Cayes-jacmel</option>
                <option value="Cote-de-fer">Cote-de-fer</option>
                <option value="Grand gosier">Grand gosier</option>
                <option value="Jacmel">Jacmel</option>
                <option value="La vallee">La vallee</option>
                <option value="Marigot">Marigot</option>
                <option value="Thiotte">Thiotte</option>
            </optgroup>
            <option value="none">N/A</option>
        </select>
    </div>
    </div> <!-- //.search-container -->
    <!-- // 1st Row  -->

    <!-- 2nd Row Starts -->
    <div id="search-container" align="center">
    <div class="search" align="center">
        <label>Age Min:</label>
        <select name="age_start">
            <option value="0" selected>Select Range</option>
            <option value="1">Age 0-3</option>
            <option value="2">Age 4-10</option>
            <option value="3">Age 11-14</option>
            <option value="4">Age 15-18</option>
            <option value="none">N/A</option>
        </select>
        </div>
    <div class="search" align="center">
        <label>Age Max:</label>
        <select name="age_end">
            <option value="0" selected>Select Range</option>
            <option value="1">Age 0-3</option>
            <option value="2">Age 4-10</option>
            <option value="3">Age 11-14</option>
            <option value="4">Age 15-18</option>
            <option value="none">N/A</option>
        </select>
    </div>
    <div class="search" align="center">
        <label>Gender</label>
        <select name="gender">
            <option value="" selected>Select Option</option>
            <option {% if gender == "male" %} selected {% endif %} value="male">Boys</option>
            <option {% if gender == "female" %} selected {% endif %}  value="female">Girls</option>
            <option value="either">Boys &amp; Girls</option>
            <option value="none">N/A</option>
        </select>
    </div>
    </div><!-- //.search-container -->
    <!-- // 2nd Row  -->
            <div class="map-cta">
                <input type="submit" class="btn" value="Search Now">
            </div>

</form>
</div>

<div class="mid" id="search-mid">
<div id="results-container" align="center">
<h2>Search Results</h2>
    <p>The results of your search will be shown on the map and search box below. Clicking an entry will highlight an organization's location on the map.</p>
<div align="center">
<div id="map" class="search-map"></div>
<div class="results-box">
  {% for record in records %}
    <div class="result">
        <p style="color:black;">Organization Name: <a href='/admin/records/{{record[3]}}' target='_blank'>{{ record[0] }}</a></p>
        <p style="color:black;">Address:</p>
        <p style="color:black;">Phone Number: {{ record[5] }}</p>
        <p style="color:black;">Services: {{ record[1] }}</p>
    </div>
  {% endfor %}
</div>    
</div><!-- //.results-box -->
    <ul class="pagination" align="center">
        <li><a a id="last_page_link" href="search?keywords={{ keywords }}&service={{ service }}&department={{ department }}&age_start={{age_start}}&age_end={{age_end}}&gender={{ gender }}&page={{page - 1}}#search-mid">Last Page</a></li>
        <li><a a id="last_page_link" href="search?keywords={{ keywords }}&service={{ service }}&department={{ department }}&age_start={{age_start}}&age_end={{age_end}}&gender={{ gender }}&page={{page + 1}}#search-mid">Next Page</a></li>
    </ul>
    <p class="search-again">If you would like to perform a new search, simply fill out the fields above again, and click the search button.</p>
</div><!-- //#results-container -->
</div> <!-- //.mid -->

<div class="bottom">
    <h3>Search Categories and Definitions</h3>
    <p class="list detail"><span class="genericon genericon-cart"></span><strong>Food and Nutrition Support</strong></p>
    <p>These services have the desired outcome of enhancing nutritional status and preventing deaths due to malnutrition among vulnerable children.</p>
    <p>This site includes organizations that provide food and /or nutritional support to vulnerable children.   Nutrition services will vary depending on whether the child is an infant, breastfeeding, receiving complementary feeding or more than 2 years old.  Both the type of food and the age range that the support will be focused at will be documented in this document.</p>
    <p class="list detail"><span class="genericon genericon-home"></span><strong>Shelter and Care</strong></p>
    <p>These services have the desired outcome of ensuring that no child goes without shelter, clothing, access to clean safe water or basic personal hygiene, and that children have at least one adult who provides them with love and support.</p>
    <p>This site includes organizations that assist families with vulnerable children by providing temporary shelters, rehabilitation of current shelters, or blankets and other essential toiletries.</p>
    <p class="list detail"><span class="genericon genericon-lock"></span><strong>Protection</strong></p>
    <p>These services either prevent or respond to child sexual and physical abuse.  Protection services for vulnerable children can also look at services that support better placement of children in orphanages, reunification of children in orphanages back with their families and reunification of siblings.</p>
    <p>This site includes organizations with interventions such as facilitating basic birth registration and identification necessary for long-term access to education, health care and social services; removing children from abusive situations into safe, temporary or permanent placements </p>
    <p class="list detail"><span class="genericon genericon-summary"></span><strong>Healthcare</strong></p>
    <p>These services have the desired outcome of meeting the health needs of vulnerable children according to their age.</p>
    <p>This site includes organizations that offer to vulnerable children for free or at a reduced cost.  Health services might include immunizations, growth monitoring or care taker education on topics like breastfeeding and complimentary feeding for children under-fives.  Other services that might exist are sick child health services or pediatric HIV treatment and care.</p>
    <p class="list detail"><span class="genericon genericon-heart"></span><strong>Psychosocial support services (PSS)</strong></p>
    <p>These services have the desired outcome of ensuring that children have the human attachments necessary for normal development and that children can participate cooperatively in activities such as school, recreation and work with other children and adults.  PSS also looks to support children beyond the normal development process.  PSS supports vulnerable children and caretakers who have had strains on their lives.  Examples of strains could include living with HIV, a family member with a chronic disease, a traumatic experience or abandonment.</p>
    <p>This site will eventually include organizations that assist with referral to counseling where available and appropriate to include activities specific to HIV-positive youth; and rehabilitation/re-integration for children who are living outside of family care, support groups for caretakers such as mother feeding groups or a group of vulnerable teens getting together to discuss issues and have fun together. Organizations that provide training and support to frontline workers who are the “gatekeepers” – those most likely to come into contact with highly vulnerable children, including local NGO field staff, local volunteers, social workers, police brigade, school counselors and nurses, and staff of child residential care facilities; assist police in how to constructively and appropriately deal with highly vulnerable children who are in violation of the law.</p>
    <p class="list detail"><span class="genericon genericon-book"></span><strong>Formal and informal education</strong></p>
    <p>These services have the desired outcome of ensuring that vulnerable children receive educational and vocational opportunities in accord with community norms and market-driven employment options.</p>
    <p>This site includes that encourage access to all to formal education system for highly vulnerable children; and provide short-term, direct assistance to subsidize school-related costs (e.g., fees, books, uniforms), that have a school feeding program.</p>
    <p class="list detail"><span class="genericon genericon-category"></span><strong>Legal Services</strong></p>
    <p>Protection, legal and otherwise, represents the wall of security needed by adolescents to enable them access to the provisions that ensure basic freedoms and rights.</p>
    <p>This site includes organizations that provide legal and paralegal services for vulnerable children and caretakers.  This would map legal assistance or support to access legal assistance to vulnerable children and their caretakers.  Examples include for those in conflict with the law, for sexual or physical abuse cases, obtaining birth registration and certificate, or reporting a legal claim about child abduction or trafficking. </p>
    <p class="list detail"><span class="genericon genericon-info"></span><strong>Other Services</strong></p>
    <p>If other key services are found during mapping activities or via another vulnerable children actor, they will be included.</p>
</div>
<!-- Scripts Go Here -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script>
$( "form" ).on( "submit", function( event ) {
  event.preventDefault();
  var queryString = $( this ).serialize();
  console.log(queryString);
  window.location = "/search?" + queryString;
});
</script>
<script>
    function getURLParameter(name) {
      return decodeURIComponent((new RegExp('[?|&]' + name + '=' + '([^&;]+?)(&|#|;|$)').exec(location.search)||[,""])[1].replace(/\+/g, '%20'))||null
    }

    var pageParam = getURLParameter("page");

    if (pageParam == "0" || pageParam == null) {
        console.log("12")
        $("#last_page_link").hide();
    } else {
        console.log("!")
    }
  var map = L.map('map').setView([18.533, -72.333], 7);
    map.scrollWheelZoom.disable();

  // add an OpenStreetMap tile layer
  L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
      attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
  }).addTo(map);



  {% for record in records %}
  // add a marker in the given location, attach some popup content to it and open the popup
  try {
 L.marker([{{ record[7]}}, {{ record[8] }}]).addTo(map)
        .bindPopup("<p style='color:black'><a href='/admin/records/{{record[3]}}' target='_blank'>{{ record[0] }}</a></p>")
        .openPopup();
  }
  catch(err) {
    console.log("{{record[7]}}");

  }
  {% endfor %}
</script>
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
{% endblock %}
