{% extends "legacy_base.html" %}
{% block title %}
<title>Add Services: Cartographie des services disponibles pour enfants et familles vulnérables en Haïti</title>
{% endblock %}

{% block breadcrumbs %}
<div class="container">
  <div class="breadcrumbs">
    <a id="breadcrumb_home" href="/">Home</a> / <a id="breadcrumb_suggest_services" href="/suggest_services">Suggest Services</a>
      <div id="language" style="text-align: right;  float:right; margin-right: 20px;">
      <a href="/language?language='fr'&redirect='/suggest_services'">Français</a> / <a href="/language?language='en'&redirect='/suggest_services'">English </a>
      </div>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="top">
  <h1>Suggest Services</h1>
<p>The key success of this project is in the open sharing of data. If you believe we are missing any important information regarding children's services in Haiti, please let us know by completing the form below.</p>
<p>Thank you for your contribution!</p>
<div class="contact-form suggest">
<form method="POST" action="">
    <table>
      <tr>
        <td><label for="name">Organization</label></td>
        <td><input type="text" name="keywords" value="" id="keywords" placeholder="enter organization name here"></td>
      </tr>
      <tr>
        <td><label for="category">Category</label></td>
        <td>
        <select>
            <option value="" disabled selected>Select Category</option>
            <option value="" disabled selected>Select Service</option>
            <option value="food">Food and Nutrition Support</option>
            <option value="shelter">Shelter and Care</option>
            <option value="protection">Protection</option>
            <option value="healthcare">Healthcare</option>
            <option value="pyschosocial">Psychosocial Support Services</option>
            <option value="education">Formal and Informal Education</option>
            <option value="legal">Legal Services</option>
            <option value="other">Other Services</option>
        </select></td>
      </tr>
      <tr>
        <td><label for="service">Service</label></td>
          <td>
            <input type="text" name="service" value="" id="service" placeholder="enter service here">
          </td>
      </tr>
      <tr>
        <td><label for="age">Start Age</label></td>
          <td>
        <select>
            <option value="None" disabled selected>Select Age</option>
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
            <option value="13">13</option>
            <option value="14">14</option>
            <option value="15">15</option>
            <option value="16">16</option>
            <option value="17">17</option>
            <option value="18">18</option>
        </select>
          </td>
      </tr>
      <tr>
        <td><label for="age">End Age</label></td>
          <td>
        <select>
            <option value="None" disabled selected>Select Age</option>
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
            <option value="13">13</option>
            <option value="14">14</option>
            <option value="15">15</option>
            <option value="16">16</option>
            <option value="17">17</option>
            <option value="18">18</option>
        </select>
          </td>
      </tr>
      <tr>
        <td><label for="gender">Gender</label></td>
          <td>
        <select>
            <option value="" disabled selected>Select Gender</option>
            <option value="female">Girls</option>
            <option value="male">Boys</option>
            <option value="male">Girls and Boys</option>
        </select>
          </td>
      </tr>
      <tr>
        <td><label for="region">Region</label></td>
          <td>
        <select>
            <option value="" disabled selected>Select Department</option>
            <option value="">Region 1</option>
            <option value="">Region 2</option>
            <option value="">Region 3</option>
            <option value="">Region 4</option>
            <option value="">Region 5</option>
        </select>
          </td>
      </tr>
      <tr>
        <td>
          <label for="details">Details</label>
        </td>
        <td>
          <textarea name="details" cols=40 rows=6></textarea>
        </td>
      </tr>
    </table>
    <br/>
    <input type=submit value=Submit id="submit">
  </form>
</div>
</div>
{% endblock %}
