{% extends "legacy_base.html" %}

{% block breadcrumbs %}
<div class="container">
  <div class="breadcrumbs">
    <a id="breadcrumb_home" href="/">Home</a> / <a id="breadcrumb_search" href="/search">Search</a>
      <div id="language" style="text-align: right; float:right; margin-right: 20px;">
      <a href="/language?language='fr'&redirect='/search'">Français</a> / <a href="/language?language='en'&redirect='/search'">English </a>
      </div>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="top">
  <h1>Search</h1>
    <p>Search by any of seven services provided, organization name, location, target population or using keywords. The result will be summarized, mapped and available to print or email.</p>
<form action="/search" method="get" id="main-search-form">
            <!--input type="submit" value="Submit"-->
<!-- containing form for search -->
    <div id="search-container" align="center">
    <div class="search" align="center">
            <label>Keywords</label>
            <input type="text" name="keywords" value="" id="keywords" placeholder="enter search terms here...">

    </div>
    <div class="search" align="center">
        <label>Service</label>
        <select name="service">
            <option value="" selected>Select Service</option>
            <optgroup label="Program 1">
                <option value="">Service 1</option>
                <option value="">Service 2</option>
                <option value="">Service 3</option>
            </optgroup>
            <optgroup label="Program 2">
                <option value="">Service 1</option>
                <option value="">Service 2</option>
                <option value="">Service 3</option>
            </optgroup>
            <optgroup label="Program 3">
                <option value="">Service 1</option>
                <option value="">Service 2</option>
                <option value="">Service 3</option>
            </optgroup>
        </select>
    </div>
    <div class="search" align="center">
        <label>Department</label>
        <select name="region">
            <option value="" selected>Select Department</option>
            <optgroup label="Department 1">
                <option value="">Commune 1</option>
                <option value="">Commune 2</option>
                <option value="">Commune 3</option>
            </optgroup>
            <optgroup label="Department 2">
                <option value="">Commune 1</option>
                <option value="">Commune 2</option>
                <option value="">Commune 3</option>
            </optgroup>
            <optgroup label="Department 3">
            <option value="">Commune 1</option>
            <option value="">Commune 2</option>
            <option value="">Commune 3</option>
            </optgroup>
            <option value="none">N/A</option>
        </select>
    </div>
    </div> <!-- //.search-container -->
    <!-- // 1st Row  -->

    <!-- 2nd Row Starts -->
    <div id="search-container" align="center">
    <div class="search" align="center">
        <label>Age Min:</label>
        <select name="age">
            <option value="" selected>Select Range</option>
            <option value="">Age 0-3</option>
            <option value="">Age 4-10</option>
            <option value="">Age 11-14</option>
            <option value="">Age 15-18</option>
            <option value="none">N/A</option>
        </select>
        </div>
    <div class="search" align="center">
        <label>Age Max:</label>
        <select name="age">
            <option value="" selected>Select Range</option>
            <option value="">Age 0-3</option>
            <option value="">Age 4-10</option>
            <option value="">Age 11-14</option>
            <option value="">Age 15-18</option>
            <option value="none">N/A</option>
        </select>
    </div>
    <div class="search" align="center">
        <label>Gender</label>
        <select name="gender">
            <option value="" selected>Select Option</option>
            <option {% if gender == "male" %} selected {% endif %} value="male">Boys</option>
            <option {% if gender == "female" %} selected {% endif %}  value="female">Girls</option>
            <option value="none">Boys &amp; Girls</option>
            <option value="none">N/A</option>
        </select>
    </div>
    </div><!-- //.search-container -->
    <!-- // 2nd Row  -->
            <div class="map-cta">
                <input type="submit" class="btn" value="Search Now">
            </div>

</form>
</div>
<hr/>
<div class="mid" id="search-mid">
<div id="results-container" align="center">
<h2>Search Results</h2>
    <p>The results of your search will be shown on the map and search box below. Clicking an entry will highlight an organization's location on the map.</p>
<div align="center">
<div id="map" class="search-map"></div>
<div class="results-box">
  {% for record in records %}
    <div class="result">
        <p>Organization Name: {{ record.nom_de_lorganisation }}</p>
        <p>Address: {{ record.adresse }}</p>
        <p>Phone Number: {{ record.telephone }}</p>
        <p>Services:</p>
    </div>
  {% endfor %}
</div>    
</div><!-- //.results-box -->
    <ul class="pagination" align="center">
        <li><a href="">Last Page</a></li>
        <li><a href="">Next Page</a></li>
        <li class="icon"><a href=""><img src="../../assets/img/csv-icon-128x128.png" width="25" height="25" /></a></li>
        <li class="icon"><a href=""><img src="../../assets/img/printer.png" width="25" height="25" /></a></li>
    </ul>
    <p class="search-again">If you would like to perform a new search, simply fill out the fields above again, and click the search button.</p>
<p class="search-again">For information regarding the definitions of services, please <a href="#">go here.</a></p>    
</div><!-- //#results-container -->
</div> <!-- //.mid -->
<div class="bottom">    
</div>
<!-- Scripts Go Here -->
<script>
  var map = L.map('map').setView([18.533, -72.333], 7);
    map.scrollWheelZoom.disable();

  // add an OpenStreetMap tile layer
  L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
      attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
  }).addTo(map);



  {% for record in records %}
  // add a marker in the given location, attach some popup content to it and open the popup
  try {
 L.marker([{{ record.latitude }}, {{ record.longitude }}]).addTo(map)
        .bindPopup("<p style='color:black'><a href='/records/{{record.nom_de_lorganisation}}'>{{ record.nom_de_lorganisation }}</a></p>")
        .openPopup();
  }
  catch(err) {
    console.log("none");

  }
  {% endfor %}
</script>
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
{% endblock %}
