{% extends "legacy_base.html" %}

{% block breadcrumbs %}
<div class="container">
  <div class="breadcrumbs">
    <a id="breadcrumb_home" href="/">Home</a> / <a id="breadcrumb_search" href="/search">Search</a>
      <div id="language" style="text-align: right; margin-top: -20px; margin-right: 20px;">
      <a href="/language?language='fr'&redirect='/search'">Français</a> / <a href="/language?language='en'&redirect='/search'">English </a>
      </div>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="top">
  <h1>Search</h1>
    <hr/>
    <p>Search by any of seven services provided, organization name, location, target population or using keywords. The result will be summarized, mapped and available to print or email.</p>
<form action="/search" method="get" id="main-search-form">
            <!--input type="submit" value="Submit"-->
<!-- containing form for search -->
    <div id="search-container" align="center">
    <div class="search" align="center">
            <label>Keywords</label>
            <input type="text" name="keywords" value="" id="keywords" placeholder="enter search terms here...">

    </div>
    <div class="search" align="center">
        <label>Service</label>
        <select name="service">
            <option value="" selected>Select Service</option>
            <optgroup label="Program 1">
                <option value="">Service 1</option>
                <option value="">Service 2</option>
                <option value="">Service 3</option>
            </optgroup>
            <optgroup label="Program 2">
                <option value="">Service 1</option>
                <option value="">Service 2</option>
                <option value="">Service 3</option>
            </optgroup>
            <optgroup label="Program 3">
                <option value="">Service 1</option>
                <option value="">Service 2</option>
                <option value="">Service 3</option>
            </optgroup>
        </select>
    </div>
    <div class="search" align="center">
        <label>Department</label>
        <select name="region">
            <option value="" selected>Select Department</option>
            <optgroup label="Department 1">
                <option value="">Commune 1</option>
                <option value="">Commune 2</option>
                <option value="">Commune 3</option>
            </optgroup>
            <optgroup label="Department 2">
                <option value="">Commune 1</option>
                <option value="">Commune 2</option>
                <option value="">Commune 3</option>
            </optgroup>
            <optgroup label="Department 3">
            <option value="">Commune 1</option>
            <option value="">Commune 2</option>
            <option value="">Commune 3</option>
            </optgroup>
            <option value="none">N/A</option>
        </select>
    </div>
    </div> <!-- //.search-container -->
    <!-- // 1st Row  -->

    <!-- 2nd Row Starts -->
    <div id="search-container" align="center">
    <div class="search" align="center">
        <label>Age Min:</label>
        <select name="age">
            <option value="" selected>Select Range</option>
            <option value="">Age 0-3</option>
            <option value="">Age 4-10</option>
            <option value="">Age 11-14</option>
            <option value="">Age 15-18</option>
            <option value="none">N/A</option>
        </select>
        </div>
    <div class="search" align="center">
        <label>Age Max:</label>
        <select name="age">
            <option value="" selected>Select Range</option>
            <option value="">Age 0-3</option>
            <option value="">Age 4-10</option>
            <option value="">Age 11-14</option>
            <option value="">Age 15-18</option>
            <option value="none">N/A</option>
        </select>
    </div>
    <div class="search" align="center">
        <label>Gender</label>
        <select name="gender">
            <option value="" selected>Select Option</option>
            <option {% if gender == "male" %} selected {% endif %} value="male">Boys</option>
            <option {% if gender == "female" %} selected {% endif %}  value="female">Girls</option>
            <option value="none">Boys &amp; Girls</option>
            <option value="none">N/A</option>
        </select>
    </div>
    </div><!-- //.search-container -->
    <!-- // 2nd Row  -->
            <div class="map-cta">
                <input type="submit" class="btn" value="Search Now">
            </div>

</form>
</div>

<div class="mid">
<div id="results-container"> <!-- use JS to hide / show this container since it holds results -->
<h2>Search Results</h2>
    <p>The results of your search will be shown on the map and search box below. Clicking an entry will highlight an organization's location on the map above. If you would like to perform a new search, simply fill out the fields above again, and click the search button.</p>
    <div id="map"></div><br/>
<div class="results-box">
  {% for record in records %}
    <div class="result">
        <p>Organization Name: {{ record.nom_de_lorganisation }}</p>
        <p>Address: {{ record.adresse }}</p>
        <p>Phone Number: {{ record.telephone }}</p>
        <p>Services:</p>
    </div>
  {% endfor %}
</div><!-- //.results-box -->
    <ul class="pagination" align="center">
        <li><a href="">Last Page</a></li>
        <li><a href="">Next Page</a></li>
    </ul>
</div><!-- //#results-container -->
</div> <!-- //.mid -->

<div class="bottom">
    <h3>Search Categories and Definitions</h3>
    <p class="list detail"><span class="genericon genericon-cart"></span><strong>Food and Nutrition Support</strong></p>
    <p>These services have the desired outcome of enhancing nutritional status and preventing deaths due to malnutrition among vulnerable children.</p>
    <p>This site includes organizations that provide food and /or nutritional support to vulnerable children.   Nutrition services will vary depending on whether the child is an infant, breastfeeding, receiving complementary feeding or more than 2 years old.  Both the type of food and the age range that the support will be focused at will be documented in this document.</p>
    <p class="list detail"><span class="genericon genericon-home"></span><strong>Shelter and Care</strong></p>
    <p>These services have the desired outcome of ensuring that no child goes without shelter, clothing, access to clean safe water or basic personal hygiene, and that children have at least one adult who provides them with love and support.</p>
    <p>This site includes organizations that assist families with vulnerable children by providing temporary shelters, rehabilitation of current shelters, or blankets and other essential toiletries.</p>
    <p class="list detail"><span class="genericon genericon-lock"></span><strong>Protection</strong></p>
    <p>These services either prevent or respond to child sexual and physical abuse.  Protection services for vulnerable children can also look at services that support better placement of children in orphanages, reunification of children in orphanages back with their families and reunification of siblings.</p>
    <p>This site includes organizations with interventions such as facilitating basic birth registration and identification necessary for long-term access to education, health care and social services; removing children from abusive situations into safe, temporary or permanent placements </p>
    <p class="list detail"><span class="genericon genericon-summary"></span><strong>Healthcare</strong></p>
    <p>These services have the desired outcome of meeting the health needs of vulnerable children according to their age.</p>
    <p>This site includes organizations that offer to vulnerable children for free or at a reduced cost.  Health services might include immunizations, growth monitoring or care taker education on topics like breastfeeding and complimentary feeding for children under-fives.  Other services that might exist are sick child health services or pediatric HIV treatment and care.</p>
    <p class="list detail"><span class="genericon genericon-heart"></span><strong>Psychosocial support services (PSS)</strong></p>
    <p>These services have the desired outcome of ensuring that children have the human attachments necessary for normal development and that children can participate cooperatively in activities such as school, recreation and work with other children and adults.  PSS also looks to support children beyond the normal development process.  PSS supports vulnerable children and caretakers who have had strains on their lives.  Examples of strains could include living with HIV, a family member with a chronic disease, a traumatic experience or abandonment.</p>
    <p>This site will eventually include organizations that assist with referral to counseling where available and appropriate to include activities specific to HIV-positive youth; and rehabilitation/re-integration for children who are living outside of family care, support groups for caretakers such as mother feeding groups or a group of vulnerable teens getting together to discuss issues and have fun together. Organizations that provide training and support to frontline workers who are the “gatekeepers” – those most likely to come into contact with highly vulnerable children, including local NGO field staff, local volunteers, social workers, police brigade, school counselors and nurses, and staff of child residential care facilities; assist police in how to constructively and appropriately deal with highly vulnerable children who are in violation of the law.</p>
    <p class="list detail"><span class="genericon genericon-book"></span><strong>Formal and informal education</strong></p>
    <p>These services have the desired outcome of ensuring that vulnerable children receive educational and vocational opportunities in accord with community norms and market-driven employment options.</p>
    <p>This site includes that encourage access to all to formal education system for highly vulnerable children; and provide short-term, direct assistance to subsidize school-related costs (e.g., fees, books, uniforms), that have a school feeding program.</p>
    <p class="list detail"><span class="genericon genericon-category"></span><strong>Legal Services</strong></p>
    <p>Protection, legal and otherwise, represents the wall of security needed by adolescents to enable them access to the provisions that ensure basic freedoms and rights.</p>
    <p>This site includes organizations that provide legal and paralegal services for vulnerable children and caretakers.  This would map legal assistance or support to access legal assistance to vulnerable children and their caretakers.  Examples include for those in conflict with the law, for sexual or physical abuse cases, obtaining birth registration and certificate, or reporting a legal claim about child abduction or trafficking. </p>
    <p class="list detail"><span class="genericon genericon-info"></span><strong>Other Services</strong></p>
    <p>If other key services are found during mapping activities or via another vulnerable children actor, they will be included.</p>
</div>
<!-- Scripts Go Here -->
<script>
  var map = L.map('map').setView([18.533, -72.333], 7);
    map.scrollWheelZoom.disable();

  // add an OpenStreetMap tile layer
  L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
      attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
  }).addTo(map);



  {% for record in records %}
  // add a marker in the given location, attach some popup content to it and open the popup
  try {
 L.marker([{{ record.latitude }}, {{ record.longitude }}]).addTo(map)
        .bindPopup("<p style='color:black'><a href='/records/{{record.nom_de_lorganisation}}'>{{ record.nom_de_lorganisation }}</a></p>")
        .openPopup();
  }
  catch(err) {
    console.log("none");

  }
  {% endfor %}
</script>
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
{% endblock %}
