{% extends "fr_legacy_base.html" %}
{% block title %}
<title>Sur: Cartographie des services disponibles pour enfants et familles vulnérables en Haïti</title>
{% endblock %}
{% block breadcrumbs %}
<div class="container">
  <div class="breadcrumbs">
    <a id="breadcrumb_home" href="/">Home</a> / <a id="breadcrumb_about" href="/fr_about"> Sur</a>
      <div id="language" style="text-align: right;  float:right; margin-right: 20px;">
      <a href="/language?language='fr'&redirect='/about'">Français</a> / <a href="/language?language='en'&redirect='/about'">English </a>
      </div>
  </div>
</div>
{% endblock %}


{% block content %}
<div class="top">
  <h1>Sur</h1>
<hr/>
<h3><em>We need unique content here instead of what is below</em></h3>
        <p>Le but du site est d'accroître l'accès et la coordination des programmes et des services pour les enfants vulnérables dans tous les principaux domaines de services (à savoir la santé, l'éducation et les services juridiques).</p>
        <p>Pour accomplir site offre un répertoire en ligne de ressources et de services qui peuvent être facilement recherché, et une carte interactive en ligne de ces services.</p>
    <p>L'objectif immédiat est de développer une carte interactive en ligne qui: se concentre sur l'identification des services; comprend tous les services identifiés et vérifiés relatifs à l'enfant de bien-être; offre un accès à toutes les parties prenantes via une plate-forme basée sur le Web; et être à la disposition du service de téléphonie Bridgade IBESR pour fournir aux opérateurs des informations de référence précise.</p>
</div>
{% endblock %}
