{% extends "fr_legacy_base.html" %}
{% block title %}
<title>Sur: Cartographie des services disponibles pour enfants et familles vulnérables en Haïti</title>
{% endblock %}
{% block breadcrumbs %}
<div class="container">
  <div class="breadcrumbs">
    <a id="breadcrumb_home" href="/">Home</a> / <a id="breadcrumb_about" href="/fr_about"> Sur</a>
      <div id="language" style="text-align: right;  float:right; margin-right: 20px;">
      <a href="/language?language='fr'&redirect='/about'">Français</a> / <a href="/language?language='en'&redirect='/about'">English </a>
      </div>
  </div>
</div>
{% endblock %}


{% block content %}
<div class="top">
    <h1>Buts et objectifs du site.</h1>    
        <p>Le but du site est d’améliorer la coordination des programmes et des services pour les enfants vulnérables dans les principaux domaines de services à savoir la  santé, l'éducation, la protection, l’appui psychosocial, les services juridiques et la santé mentale).</p>
        <p>Ce site offre un répertoire en ligne de ressources et de services qui peuvent être facilement recherchés à partir d’une carte dynamique. L'objectif immédiat est de développer une carte interactive en ligne qui se concentre sur l'identification des services relatifs à la protection de  l'enfant , garantir l’accès à toutes les parties prenantes via une plate-forme basée sur le Web; et être à la disposition du service de téléphonie Bridgade IBESR pour fournir aux opérateurs des informations de référence précise.</p>      
      <div class="icon-row">
        <div class="icon-box" align="center"><span class="genericon genericon-chat"></span><p class="list"><strong>Identifier des partenaires potentiels et des collaborations.</strong></p></div>

        <div class="icon-box" align="center"><span class="genericon genericon-search"></span><p class="list"><strong>Identifier les lacunes et éviter les doubles emplois.</strong></p></div>

        <div class="icon-box" align="center"><span class="genericon genericon-cog"></span><p class="list"><strong>Améliorer la coordination.</strong></p></div>

        <div class="icon-box" align="center"><span class="genericon genericon-checkmark"></span><p class="list"><strong>Prendre de meilleures décisions d'améliorer les données.</strong></p></div>
    </div>
</div>

<div id="french_footnote" class="footnote">
<div class="footnote_left">
    <h3>Partagez votre organisation et informations de service.</h3>
        <p style="margin-top:-5px;"><strong>Nous voulons avoir de vos nouvelles!</strong> Rejoignez notre vision afin de mieux servir les enfants en Haïti.</p>
    </div>
    <div class="bottom-cta" id="french_bottom-cta">
        <a href="/suggest_services"><div class="btn">Proposer des Services</div></a>
    </div>
</div>

<div style="clear:both;"></div>

<div class="mid">
    <a name="definitions"><h1 class="search-cat">Définition des services sociaux</h1></a>
    <span class="genericon genericon-aside cat"></span><p><strong>Soutien alimentaire et nutritionnel</strong></p>
    <p>Ces services améliorent  l'état nutritionnel et la prévention les décès dus à la malnutrition chez les enfants vulnérables.</p>
    <p>Ce site comprend les organisations qui fournissent de la nourriture et / ou un soutien nutritionnel aux enfants vulnérables dépendamment de l’enfant qui allaite ou qui reçoit une alimentation supplémentaire.</p>
    <span class="genericon genericon-home cat"></span><p><strong>Abris et logements</strong></p>
    <p>Ces services garantissent un abri, des vêtements, l’accès à  l'eau  potable et à l'hygiène personnelle, et que les enfants ont au moins un adulte qui leur donne l'amour et de soutien.</p>
    <p>Ce site comprend des organisations qui aident les familles avec des enfants vulnérables en  leur fournissant  soit un abri temporaire, la réhabilitation des abris actuels, des couvertures et d'autres articles essentiels de toilette.</p>
    <span class="genericon genericon-lock cat"></span><p><strong>Protection</strong></p>
    <p>Ces services soutiennent les enfants  ayant subi un abus sexuel ou agression physique. en cas d’abus sexuel ou agression physique Ces services de protection pour les enfants vulnérables incluent les services qui supportent les interventions : le dispositif familial pour les enfants placés en orphelinat, la réunification des enfants avec leurs familiales ou la réunification avec leurs frères ou leurs sœurs.</p>
    <p>Ce site comprend des organisations avec des interventions suivantes : facilitation à l'enregistrement et identification des naissances,  l'accès à long terme à l'éducation, aux soins de santé primaire, appui aux  enfants en situation de danger pour les placer dans un environnement  sécuritaire, temporaires ou permanent.</p>
    <span class="genericon genericon-summary cat"></span><p><strong>Soins de santé</strong></p>
    <p>Ces services répondent aux besoins de santé des enfants vulnérables en fonction de leur âge.</p>
    <p>Ce site comprend des organisations qui offrent aux enfants vulnérables gratuitement ou à un coût réduit les soins de santé. Les services de santé pourraient inclure la vaccination, la surveillance de la croissance, séances éducatives des mères sur des sujets comme l'allaitement et l’alimentation pour les moins de cinq ans. Les services suivants peuvent également exister : la prise en change  de l’enfant malade (soins pédiatriques ou traitement (VIH).</p>
    <span class="genericon genericon-heart cat"></span><p><strong>Services de soutien psychosocial</strong></p>
    <p>Ce site comprend  des organisations qui viennent en aide aux enfants et familles ayant subi un traumatisme ou qui nécessitent un appui psychosocial. Les organisations qui offrent une formation aux personnes qui travaillent directement avec les enfants vulnérables ainsi que leur famille par exemple les  travailleurs ou assistants  sociaux, la  brigade de protection civile (BPM), le  staff local /staff ONG sur le terrain, et le personnel médical etc…)</p>
    <span class="genericon genericon-book cat"></span><p><strong>Éducation formelle et informelle</strong></p>
    <p>Ce site comprend les organisations qui garantissent l’accès à l’éducation formelle et informelle pour les enfants les plus vulnérables; et  qui fournissent une aide ou subvention des coûts liés à l'école (par exemple, les frais, livres, uniformes), aussi qui ont un programme d'alimentation scolaire.</p>
    <span class="genericon genericon-category cat"></span><p><strong>Services légaux</strong></p>
    <p>Ce site comprend des organisations qui fournissent des services juridiques ou para juridiques pour les enfants vulnérables et leurs gardiens en mettant l’accent sur leurs différents droits fondamentaux</p>
    <span class="genericon genericon-info cat"></span><p><strong>Autres services</strong></p>
    <p>Si d'autres services clés sont trouvés pendant les activités de cartographie ou par un autre acteur enfants vulnérables, ils seront inclus.</p>
</div>
<br>
<hr/>    
<br>
<div class="bottom"> 
<a name="children"><h1 class="search-cat">Définition des vulnérabilités</h1></a>
    <p><strong>Les enfants vulnérables incluent:</strong></p>
 <ul class="children">
     <li>Les enfants des ménages en dessous du seuil de pauvreté</li>
         <ul>
            <li>Les enfants dans les ménages dirigés par des enfants, les jeunes, les personnes âgées ou les femmes;</li>
            <li>Les enfants de familles où un adulte est malade chronique;</li>
            <li>Les enfants affectés ou infectés par le VIH et le SIDA</li>
         </ul>
     <li>Les enfants des rues; enfants abandonnés</li>
     <li>Les enfants vivant dans des institutions (ex: les orphelinats, les prisons, les établissements de santé mentale)</li>
     <li>Enfants en conflit avec la loi</li>
     <li>Les enfants handicapés</li>
     <li>Les enfants victimes de violence</li>
     <li>Les enfants victimes d'abus et d'exploitation sexuelle</li>
     <li>Les enfants victimes de la traite</li>
     <li>Les enfants victimes des pires formes de travail</li>
     <li>Les enfants qui sont mariés avant d’atteindre l'âge défini par la loi</li>
     <li>Les enfants qui ont abandonné l'école</li>
     <li>Les enfants travailleurs du sexe</li>
     <li>Enfants réfugiés et déplacés</li>
     
</ul>
</div>
{% endblock %}