{% extends "fr_legacy_base.html" %}
{% block title %}
<title>Contactez Nous: Cartographie des services disponibles pour enfants et familles vulnérables en Haïti</title>
{% endblock %}

{% block breadcrumbs %}
<div class="container">
  <div class="breadcrumbs">
    <a id="breadcrumb_home" href="/">Home</a> / <a id="breadcrumb_contact" href="/fr_contact">Contact</a>
      <div id="language" style="text-align: right;  float:right; margin-right: 20px;">
      <a href="/language?language='fr'&redirect='/contact'">Français</a> / <a href="/language?language='en'&redirect='/contact'">English </a>
      </div>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="top">
<h1>Contactez IBESR</h1>
<h3><em>Double check French translation here.</em></h3>
<p>Si vous avez des questions pour IBESR , vous pouvez nous joindre en utilisant le formulaire de contact ci-dessous. Se il vous plaît fournir votre nom, adresse e-mail , et un message détaillé pour vos questions ou commentaires.</p>
<p>We look forward to hearing from you!</p>
<div class="contact-form contact">
<form method="POST" action="">
    <table>
      <tr>
        <td><label for="name">Nom</label></td>
        <td><input id="name" name="name" type="text" value=""></td>
      </tr>
      <tr>
        <td><label for="email">Adresse E-mail</label></td>
        <td><input id="email" name="email" type="text" value=""></td>
      </tr>
      <tr>
        <td><label for="email">Sujet</label></td>
        <td><input id="subject" name="subject" type="text" value=""></td>
      </tr>        
      <tr>
        <td><label for="email">Message</label></td>
          <td><textarea id="message" name="message" type="text" value=""></textarea></td>
      </tr>

    </table>
    <br>
    <input type=submit value="Soumettre" id="submit">
  </form>
</div>
</div>
{% endblock %}
