{% extends "fr_legacy_base.html" %}
{% block title %}
<title>Accueille : Cartographie des services disponibles pour enfants et familles vulnérables en Haïti</title>
{% endblock %}

{% block breadcrumbs %}
<div class="container">
  <div class="breadcrumbs">
    <a id="breadcrumb_home" href="/fr_index.html">Accueil</a>
      <div id="language" style="text-align: right; margin-top: -20px; margin-right: 20px;">
      <a href="/language?language='fr'&redirect='/'">Français</a> / <a href="/language?language='en'&redirect='/'">English </a>
      </div>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="top">
    <h1>À Propos de ce Projet</h1>
<hr/>
        <p>Le but du site est d'accroître l'accès et la coordination des programmes et des services pour les enfants vulnérables dans tous les principaux domaines de services (à savoir la santé, l'éducation et les services juridiques).</p>
        <pPour accomplir site offre un répertoire en ligne de ressources et de services qui peuvent être facilement recherché, et une carte interactive en ligne de ces services.</p>
    <p>L'objectif immédiat est de développer une carte interactive en ligne qui: se concentre sur l'identification des services; comprend tous les services identifiés et vérifiés relatifs à l'enfant de bien-être; offre un accès à toutes les parties prenantes via une plate-forme basée sur le Web; et être à la disposition du service de téléphonie Bridgade IBESR pour fournir aux opérateurs des informations de référence précise.</p>
    <div class="map-cta">
      <a href="/search"><div class="btn">Recherche de services près de chez vous</div></a>
    </div>
</div>

<div class="mid">
    <h2>Une nouvelle façon de découvrir des services aux enfants orphelins et vulnérables</h2>
    <h3>Programmes &amp; Services Carte - Un outil utilisable gratuit qui est prêt pour vous!</h3>
        <p>En savoir plus sur les programmes qui servent les orphelins et les enfants vulnérables à travers Haïti. Explorez l'emplacement du site, le service et l'organisation. Acquérir une meilleure perspecitve sur le pays à travers les couches de données cartographiques pertinents, tels que les niveaux de pauvreté et de malnutrition taux.</p>

        <div id="map"></div>
            
</div>

<div class="bottom">
<h3>Fabriqué avec la collaboration à l'esprit.</h3>
    <div class="icon-row" id="french_icon-row">
        <div class="icon-box"><p class="list"><span class="genericon genericon-chat"></span><strong>Identifier des partenaires potentiels et des collaborations.</strong></p></div>

        <div class="icon-box"><p class="list"><span class="genericon genericon-search"></span><strong>Identifier les lacunes et éviter les doubles emplois.</strong></p></div>

        <div class="icon-box"><p class="list"><span class="genericon genericon-cog"></span><strong>Améliorer la coordination.</strong></p></div>

        <div class="icon-box"><p class="list"><span class="genericon genericon-checkmark"></span><strong>prendre de meilleures décisions d'améliorer les données.</strong></p></div>
    </div>
</div>

<div id="french_footnote" class="footnote">
<div class="footnote_left">
<h3>Partagez votre organisation et informations de service.</h3>
    <p style="margin-top:-5px;"><strong>Nous voulons avoir de vos nouvelles!</strong> Rejoignez notre vision afin de mieux servir les enfants en Haïti.</p>
    </div>
<div class="bottom-cta" id="french_bottom-cta">
    <a href="/suggest_services"><div class="btn">Proposer des Services</div></a>
</div>
</div>

<!-- Scripts Go Here -->
<script>
  var map = L.map('map').setView([18.533, -72.333], 7);
    map.scrollWheelZoom.disable();

  // add an OpenStreetMap tile layer
  L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
      attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
  }).addTo(map);



  {% for record in records %}
  // add a marker in the given location, attach some popup content to it and open the popup
  try {
 L.marker([{{ record.latitude }}, {{ record.longitude }}]).addTo(map)
        .bindPopup("<p style='color:black'><a href='/records/{{record.nom_de_lorganisation}}'>{{ record.nom_de_lorganisation }}</a></p>")
        .openPopup();
  }
  catch(err) {
    console.log("none");

  }


  {% endfor %}
</script>
{% endblock %}

