{% extends "fr_legacy_admin.html" %}

{% block breadcrumbs %}
  <div class="container">
    <div class="breadcrumbs">
      <a id="breadcrumb_home" href="/">Home</a> / <a href="/manual">Manual</a>
      <div id="language" style="text-align: right;  float:right; margin-right: 20px;">
      <a href="/language?language='fr'&redirect='/manual'">Français</a> / <a href="/language?language='en'&redirect='/manual'">English </a>
    </div>
  </div>
{% endblock %}
{% block content %}
<h1>Timoun Manual</h1>
<hr/>
<h3><em>We need French translation here</h3>
{% endblock %}