{% extends "fr_legacy_base.html" %}
{% block title %}
<title>Ajouter votre institution: Cartographie des services disponibles pour enfants et familles vulnérables en Haïti</title>
{% endblock %}

{% block breadcrumbs %}
<div class="container">
  <div class="breadcrumbs">
    <a id="breadcrumb_home" href="/">Home</a> / <a id="breadcrumb_suggest_services" href="/fr_suggest_services">Propose des Services</a>
      <div id="language" style="text-align: right; margin-top: -20px; margin-right: 20px;">
      <a href="/language?language='fr'&redirect='/suggest_services'">Français</a> / <a href="/language?language='en'&redirect='/suggest_services'">English </a>
      </div>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="top">
  <h1>Suggest Services</h1>
<hr/>
<h3><em>We need french translation for this page.</em></h3>
<p>La clé du succès de ce projet est dans le partage ouvert de données . Si vous croyez manque aucune information importante concernant les services à l'enfance en Haïti , se il vous plaît laissez-nous savoir en remplissant le formulaire ci-dessous.</p>
<p>Thank you for your contribution!</p>
<div class="contact-form suggest">
<form method="POST" action="">
    <table>
      <tr>
        <td><label for="name">Organisation</label></td>
        <td><input type="text" name="keywords" value="" id="keywords" placeholder="enter organization name here"></td>
      </tr>
      <tr>
        <td><label for="category">Catégorie</label></td>
        <td>
        <select>
            <option value="" selected>Sélectionnez la Catégorie</option>
            <option value="nutrition">Nutrition</option>
            <option value="home_based_care">Soins à domicile</option>
            <option value="shelter">Abri</option>
            <option value="child_protection">Protection de l'enfant</option>
            <option value="pyschosocial">Soutien psychosocial</option>
            <option value="health">Santé</option>
            <option value="education">Education</option>
            <option value="mental_health_services">Services Sante Mentales</option>
        </select></td>
      </tr>
     <tr>
        <td><label for="service">Service</label></td>
          <td>
            <input type="text" name="service" value="" id="service" placeholder="Service ici">
          </td>
      </tr>
      <tr>
        <td><label for="age">Tranche d'âge</label></td>
          <td>
        <select>
            <option value="None" selected>Select Age</option>
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
            <option value="13">13</option>
            <option value="14">14</option>
            <option value="15">15</option>
            <option value="16">16</option>
            <option value="17">17</option>
            <option value="18">18</option>
        </select>
        <select>
            <option value="None" selected>Select Age</option>
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
            <option value="13">13</option>
            <option value="14">14</option>
            <option value="15">15</option>
            <option value="16">16</option>
            <option value="17">17</option>
            <option value="18">18</option>
        </select>
          </td>
      </tr>
      <tr>
        <td><label for="gender">Sexe</label></td>
          <td>
        <select>
            <option value="" selected>Sélectionnez le Sexe</option>
            <option value="girls">Filles</option>
            <option value="boys">Garçons</option>
            <option value="boys">Filles et Garçons</option>
        </select>
          </td>
      </tr>
      <tr>
        <td><label for="department">Departement</label></td>
          <td>
        <select>
            <option value="" selected>Choisissez la Région</option>
            <option value="Artibonite">Artibonite</option>
            <option value="Centre">Centre<option>
            <option value="Grand Anse">Grand Anse</option>
            <option value="Nippes">Nippes</option>
            <option value="Nord">Nord</option>
            <option value="Nord-Est">Nord-Est</option>
            <option value="Nord-Ouest">Nord-Ouest<option>
            <option value="Ouest">Ouest</option>
            <option value="Sud">Sud</option>
            <option value="Sud-Est">Sud-Est</option>
        </select>
          </td>
      </tr>
      <tr>
        <td>
          <label for="details">Détails</label>
        </td>
        <td>
          <textarea name="details" cols=40 rows=6></textarea>
        </td>
      </tr>
      <tr>
      <tr>
        <td><label for="day">Jour</label></td>
          <td>
        <form class="checkbox">
            <input type="checkbox" name="monday" value="Monday">L
            <input type="checkbox" name="tuesday" value="Tuesday">Ma
            <input type="checkbox" name="wednesday" value="Wednesday">Me
            <input type="checkbox" name="thursday" value="Thursday">J
            <input type="checkbox" name="friday" value="Friday">V
            <input type="checkbox" name="saturday" value="Saturday">S
            <input type="checkbox" name="sunday" value="Sunday">D
        </form>
          </td>
      </tr>
    </table>
    <br/>
    <input type=submit value=Submit id="submit">
  </form>
</div>
</div>
{% endblock %}
