{% extends "fr_legacy_base.html" %}

{% block breadcrumbs %}
<div class="container">
  <div class="breadcrumbs">
    <a id="breadcrumb_home" href="/">Home</a> / <a id="breadcrumb_mental_illness_services" href="/fr_services">Services De Santé Mentale</a>
      <div id="language" style="text-align: right; margin-top: -20px; margin-right: 20px;">
      <a href="/fr_index">Français</a> / <a href="/">English </a>  
      </div>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="top">
  <h1>Sensibiliser autour de services de santé mentale en Haïti</h1>
    <p>  En plus de la cartographie du projet et des services, l'exercice du projet travaillera avec l'Université de travail social de la "Faculté des Sciences Humaines" pour localiser et documenter les services de santé mentale pour les enfants et les gardiens en Haïti.</p>
    <p>Haïti dispose d'un nombre limité de professionnels ayant des diplômes supérieurs pour répondre protection de l'enfance. Dans un effort pour faciliter l'effectif de la fonction sociale, l'Université de travail social, l'IBESR et CRS permettra de documenter tous les travailleurs sociaux et les services de santé mentale où environ en Haïti. Les informations recueillies permettra aux professionnels travaillant avec des enfants vulnérables de choisir les bonnes interventions pour chaque enfant. Pour ce faire l'Université du travail social, l'IBESR et CRS se penchera sur les modèles de formation existants afin d'équiper membre de la communauté locale avec des compétences de base de gestion de cas et les aider à travailler avec les enfants et les familles vulnérables sous la supervision de professionnels du travail social.</p>
</div>

<div class="mid">
    <h2>Qu'est-ce que la santé mentale et pourquoi est-il important pour le développement d'un enfant?</h2>
    <p>Selon le Comité permanent interorganisations (IASC), les conditions de santé mentale et de soutien psychosocial peuvent être utilisés indifféremment pour décrire "tout type de soutien local ou à l'extérieur qui vise à protéger ou promouvoir le bien-être psychosocial et / ou prévenir ou traiter un trouble mental."</p>
    <p>L'Organisation mondiale de la santé (OMS) définit la santé mentale comme un état de bien-être où l'on peut réaliser leurs propres capacités, se engager dans des stratégies d'adaptation saines et contribuer à la société par le travail productif et contributions communautaires positives. </p>
</div>

<div class="bottom">
    <h3>L'importance de reconnaître la valeur du bien-être mental d'une personne est essentielle pour assurer que l'individu a la capacité d'atteindre leur plein potentiel humain et de vivre dans un environnement chaleureux et stimulant qui favorise l'espoir et la dignité.</h3>
    <p>Une personne avec un esprit sain devrait être capable de penser clairement; résoudre les différents problèmes rencontrés dans la vie; entretenir de bonnes relations avec des amis, collègues de travail et de la famille; et se sentir à l'aise et spirituellement apporter le bonheur à d'autres dans la communauté.</p>
    <p>L'importance de fournir un stimulant et un environnement sain pour un enfant, non seulement contribue à leur développement physique et la croissance, mais aussi pour le développement permet mentale positive et de socialisation. Les enfants ont besoin de soins et de soutien qui comprend les besoins de base de la nourriture, le logement, la santé et l'éducation permanente. Afin de devenir des adultes productifs et conscients, les enfants exigent également une éducation qui est rempli de l'amour, le soutien social et la protection contre les dommages ou d'abus. Sans soins et soutien affectueux, un enfant court le risque de prendre du retard avec leurs étapes de développement et le développement de la mauvaise santé mentale ou de mécanismes d'adaptation.</p>
    <p>Au-delà des besoins fondamentaux de tous les enfants, de nombreux enfants et jeunes vulnérables sont exposés aux effets dévastateurs de la pauvreté, les urgences sociales ou environnementales, les conflits et les maladies chroniques, telles que le VIH. Les enfants vulnérables ont besoin de soutien émotionnel et social supplémentaire. Beaucoup ont connu un grand stress et au traumatisme des parents perdus et membres de la famille, la privation et l'abus expérimenté, été stigmatisés, témoins d'atrocités, et a subi la douleur écrasante. Sans les soins et le soutien appropriés, ils ont le potentiel de développer une maladie mentale ou l'expérience d'un retard dans le développement.</p>
</div>


{% endblock %}
