{% extends "fr_legacy_base.html" %}

{% block title %}
<title>Recherche: Cartographie des services disponibles pour enfants et familles vulnérables en Haïti</title>
{% endblock %}

{% block breadcrumbs %}
<div class="container">
  <div class="breadcrumbs">
    <a id="breadcrumb_home" href="/fr_index">Home</a> / <a id="breadcrumb_search" href="/fr_search">Recherche</a>
      <div id="language" style="text-align: right;  float:right; margin-right: 20px;">
        <a href="/language?language='fr'&redirect='/search'">Français</a> / <a href="/language?language='en'&redirect='/search'">English </a>
      </div>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="top">
  <h1 id="search-header">Recherche</h1>
    <p>Rechercher par l'un des sept services fournis, nom de l'organisation, l'emplacement, la population cible ou à l'aide de mots-clés. Le résultat sera résumée, cartographié et disponible pour imprimer ou par courriel.</p>    
<form action="/search">
<table class="inline-table">
        <tr>
            <th><label for="keywords">Mots-clés</label></th>
            <th><label for="service">Service</label></th>
            <th><label for="department">Department</label></th>
        </tr>
        <tr>
            <td><input type="text" name="keywords" value="" id="keywords" placeholder="entrez les termes de recherche ici..."></td>
            <td><select name="service">
            <option value="" selected>Sélectionnez Service</option>
            <optgroup label="Nutrition (Prog 1)">
                <option value="Cantine scolaire">Cantine scolaire</option>
                <option value="Distribution de lait pour bébé">Distribution de lait pour bébé</option>
                <option value="Distribution de nourriture pour l’enfant adapté à son âge">Distribution de nourriture pour l’enfant adapté à son âge</option>
                <option value="Distribution ration sèche">Distribution ration sèche</option>
                <option value="Education nutritionnelle">Education nutritionnelle</option>
                <option value="Jardins potagers">Jardins potagers</option>
                <option value="Sécurité alimentaire">Sécurité alimentaire</option>
            </optgroup>
            <optgroup label="Soins2 à domicile (Prog 2)">
                <option value="Autres à spécifier">Autres à spécifier</option>
                <option value="Distribution de kits d’hygiène">Distribution de kits d’hygiène</option>
                <option value="Distribution de produit pour le traitement de l’eau">Distribution de produit pour le traitement de l’eau</option>
                <option value="Vêtements">Vêtements</option>
            </optgroup>
            <optgroup label="Abri">
                <option value="Abri permanent">Abri permanent</option>
                <option value="Abri provisoire">Abri provisoire</option>
                <option value="Autres à spécifier">Autres à spécifier</option>
                <option value="Réparation de maison">Réparation de maison</option>
                <option value="spécifier quel type_____________">spécifier quel type_____________</option>
            </optgroup>
            <optgroup label="Protection de l’enfant (Prog 4)">
                <option value="abus émotionnel">abus émotionnel</option>
                <option value="Abus physique">Abus physique</option>
                <option value="abus sexuel">abus sexuel</option>
                <option value="Autres">Autres</option>
                <option value="formation sur la protection de l’enfant">formation sur la protection de l’enfant</option>   
                <option value="négligence">négligence</option>       
                <option value="Parrainage">Parrainage</option>
                <option value="placement en famille d’accueil permanente">placement en famille d’accueil permanente</option>
                <option value="placement en famille d’accueil transitoire">placement en famille d’accueil transitoire</option>
                <option value="placement en maisons d’enfants en accord avec IBESR">placement en maisons d’enfants en accord avec IBESR</option>
                <option value="protection légale">protection légale</option>
                <option value="Réponses aux cas d’abus et exploitation">Réponses aux cas d’abus et exploitation</option>
                <option value="réunification familiale">réunification familiale</option>
                <option value="support aux enfants des rues">support aux enfants des rues</option>
                <option value="support aux enfants en conflit avec la loi">support aux enfants en conflit avec la loi</option>
                <option value="support aux enfants en domesticité">support aux enfants en domesticité</option>
                <option value="support aux enfants handicapés">support aux enfants handicapés</option>
                <option value="support aux enfants victimes de traite">support aux enfants victimes de traite</option>
            </optgroup>
            <optgroup label="Santé (Prog 5)">
                <option value="Autres">Autres</option>
                <option value="Consultation pour enfants">Consultation pour enfants</option>
                <option value="Déparasitage">Déparasitage</option>
                <option value="Distribution de vitamine A etc…">Distribution de vitamine A etc…</option>
                <option value="Education sanitaires des parents / tuteurs">Education sanitaires des parents / tuteurs</option>
                <option value="Poste de rassemblement/Vaccination">Poste de rassemblement/Vaccination</option>
                <option value="Service de réadaptation et de stimulation pour les handicapés">Service de réadaptation et de stimulation pour les handicapés</option>
                <option value="Soins aux enfants affectés/ infectés par  le VIH/SIDA">Soins aux enfants affectés/ infectés par  le VIH/SIDA</option>
            </optgroup>
            <optgroup label="Soutien psychosocial (Prog 6)">
                <option value="Activités culturelles">Activités culturelles</option>
                <option value="Activités ludiques">Activités ludiques</option>
                <option value="Art floral">Art floral</option>
                <option value="Autres">Autres</option>
                <option value="Counselling">Counselling</option>
            </optgroup>
            <optgroup label="Education (Prog 7)">
                <option value="Autres">Autres</option>
                <option value="Ecole spécialisée pour handicapés">Ecole spécialisée pour handicapés</option>
                <option value="Formation non formelle">Formation non formelle</option>
                <option value="Formation professionnelle Spécifier">Formation professionnelle Spécifier</option>
                <option value="Préscolaire">Préscolaire</option>
                <option value="Primaire">Primaire</option>
                <option value="Secondaire">Secondaire</option>
            </optgroup>
            <optgroup label="Services Sante Mentales (Prog 8)">
                <option value="Services Sante Mentales">Services Sante Mentales</option>
            </optgroup>
        </select></td>
            <td><select name="department">
            <option value="" selected>Sélectionnez Department</option>
            <optgroup label="Artibonite">
                <option value="Anse rouge">Anse rouge</option>
                <option value="Ennery">Ennery</option>
                <option value="Gonaives">Gonaives</option>
                <option value="Saint-michel">Saint-michel</option>
                <option value="Terre neuve">Terre neuve</option>
            </optgroup>
            <optgroup label="Centre">
                <option value="Belladere">Belladere</option>
                <option value="Ceca la source">Ceca la source</option>
                <option value="Cerca carvajal">Cerca carvajal</option>
                <option value="Hinche">Hinche</option>
                <option value="Lascahobas">Lascahobas</option>
                <option value="Maissade">Maissade</option>
                <option value="Saut-d'eau">Saut-d'eau</option>
                <option value="Thomassique">Thomassique</option>
                <option value="Thomonde">Thomonde</option>
            </optgroup>
            <optgroup label="Grand Anse">
                <option value="Dame-marie">Dame-marie</option>
                <option value="Jeremie">Jeremie</option>
            </optgroup>
            <option value="Nippes">Nippes</option>
            <optgroup label="Nord">
                <option value="Pignon">Pignon</option>
            </optgroup>
            <option value="Nord-Est">Nord-Est</option>
            <option value="Nord-Ouest">Nord-Ouest</option>
            <optgroup label="Ouest">
                <option value="Delmas">Delmas</option>
                <option value="Leogane">Leogane</option>
                <option value="Petit-goave">Petit-goave</option>
            </optgroup>
            <optgroup label="Sud">
                <option value="Aquin">Aquin</option>
                <option value="Arniquet">Arniquet</option>
                <option value="Camp perrin">Camp perrin</option>
                <option value="Cavaillon">Cavaillon</option>
                <option value="Chantal">Chantal</option>
                <option value="Coteaux">Coteaux</option>
                <option value="Les anglais">Les anglais</option>
                <option value="Les cayes">Les cayes</option>
                <option value="Maniche">Maniche</option>
                <option value="Port-a-piment">Port-a-piment</option>
                <option value="Port-salut">Port-salut</option>
                <option value="Roche-a-bateau">Roche-a-bateau</option>
                <option value="St. Jean du sud">St. Jean du sud</option>
                <option value="St. Louis du sud">St. Louis du sud</option>
                <option value="Tiburon">Tiburon</option>
                <option value="Torbeck">Torbeck</option>
            </optgroup>
            <optgroup label="Sud-Est">
                <option value="Anse-a-pitre">Anse-a-pitre</option>
                <option value="Bainet">Bainet</option>
                <option value="Belle anse">Belle anse</option>
                <option value="Cayes-jacmel">Cayes-jacmel</option>
                <option value="Cote-de-fer">Cote-de-fer</option>
                <option value="Grand gosier">Grand gosier</option>
                <option value="Jacmel">Jacmel</option>
                <option value="La vallee">La vallee</option>
                <option value="Marigot">Marigot</option>
                <option value="Thiotte">Thiotte</option>
            </optgroup>
            <option value="none">N/A</option>
            </select></td>
        </tr>
        <tr>
            <th><label for="age_start">Age Min:</label></th>
            <th><label for="age_end">Age Max:</label></th>
            <th><label for="gender">Gender Recherche</label></th>
        </tr>
        <tr>
            
            <td>
            <span id="age-start">
            <select name="age_start">
            <option class="" value="0" selected>Sélectionnez Gamme</option>
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
            <option value="13">13</option>
            <option value="14">14</option>
            <option value="15">15</option>
            <option value="16">16</option>
            <option value="17">17</option>
            <option value="18">18</option>
            </select>
            </span>
            </td>
            
            
            <td>
            <span id="age-end">
            <select name="age_end">
            <option value="0" selected>Sélectionnez Gamme</option>
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
            <option value="13">13</option>
            <option value="14">14</option>
            <option value="15">15</option>
            <option value="16">16</option>
            <option value="17">17</option>
            <option value="18">18</option>
            </select>
            </span>
            </td>
            
            <td><select name="gender">
            <option value="" selected>Sélectionner une option</option>
            <option {% if gender == "male" %} selected {% endif %} value="male">Garçons</option>
            <option {% if gender == "female" %} selected {% endif %}  value="female">Filles</option>
            <option value="none">Les garçons et les filles</option>
            <option value="none">P/A</option>
            </select></td>
        </tr>    
</table>
<div align="center">
<input type="submit" class="btn btn-d user" align="left" value="Rechercher">    
</div>    
</form> 
</div> <!-- // .top -->

<hr/>

<div class="mid" id="search-mid">
<div id="results-container" align="center"> 
<h2>Résultats de la recherche</h2>
    <p>Les résultats de la recherche apparaîtront sur la carte et les résultats ci-dessous . En cliquant sur une entrée , il se concentrera sur le site d'une organisation sur la carte.
</p>
<div align="center">
<div id="map" class="search-map"></div>
<div class="results-box">
  {% for record in records %}
    <div class="result">
        <p style="color: black;">Nom de l'organisation: <a href='/admin/records/{{record[3]}}' target='_blank'>{{ record[5] }}</a></p>
        <p style="color: black;">Adresse: {{ record[9] }}</p>
        <p style="color: black;">Numéro de téléphone: {{ record[13] }}</p>
        <p style="color: black;">Services: {{ record[1] }}</p>
    </div>
  {% endfor %}
</div>    
</div><!-- //.results-box -->
    <ul class="pagination" align="center">
        <li><a id="last_page_link" class="btn btn-d user yellow" href="search?keywords={{ keywords }}&service={{ service }}&department={{ department }}&age_start={{age_start}}&age_end={{age_end}}&gender={{ gender }}&page={{page - 1}}#search-mid">Dernière Page</a></li>
        <li><a id="next_page_link" class="btn btn-d user yellow" href="/search?keywords={{ keywords }}&service={{ service }}&department={{ department }}&age_start={{age_start}}&age_end={{age_end}}&gender={{ gender }}&page={{page + 1}}#search-mid">Page Suivante</a></li>
    </ul>

    <p class="search-again">Si vous souhaitez effectuer une nouvelle recherche , il suffit de remplir les champs ci-dessus à nouveau , et cliquez sur le bouton Rechercher.</p>
    <p class="search-again">Pour plus d'informations concernant les définitions des services, <a href='/about#definitions'>s'il vous plaît cliquez ici.</a></p>    
</div><!-- //#results-container -->
</div> <!-- //.mid -->
<div class="bottom">
</div>
<!-- Scripts Go Here -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script>
$( "form" ).on( "submit", function( event ) {
  event.preventDefault();
  var queryString = $( this ).serialize();
  console.log(queryString);
  window.location = "/search?" + queryString + "#search-mid";
});
</script>
<script>
    function getURLParameter(name) {
      return decodeURIComponent((new RegExp('[?|&]' + name + '=' + '([^&;]+?)(&|#|;|$)').exec(location.search)||[,""])[1].replace(/\+/g, '%20'))||null
    }

    var pageParam = getURLParameter("page");



    if (pageParam == "0" || pageParam == null) {
        console.log("12")
        $("#last_page_link").hide();
    } else {
        console.log("!")
    }

  var map = L.map('map').setView([18.533, -72.333], 7);
    map.scrollWheelZoom.disable();

  // add an OpenStreetMap tile layer
  L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
      attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
  }).addTo(map);



  {% for record in records %}
  // add a marker in the given location, attach some popup content to it and open the popup
  try {
 L.marker([{{ record[10]}}, {{ record[11] }}]).addTo(map)
        .bindPopup("<p style='color:black'><a href='/records/{{record[0]}}' target='_blank'>{{ record[5] }}</a></p>")
        .openPopup();
  }
  catch(err) {
    console.log("{{record[3]}}");
  }
  {% endfor %}


    var keywordsParam = getURLParameter("keywords");
    var serviceParam = getURLParameter("service");
    var departmentParam = getURLParameter("department");
    var ageStartParam = getURLParameter("age_start");
    var ageEndParam = getURLParameter("age_end");
    var genderParam = getURLParameter("gender");

    if (keywordsParam != null) {
        $("#keywords").val(keywordsParam);
    }

    if (serviceParam != null) {
        $('select option[value="' + serviceParam + '"]').prop('selected',true);
    }

    if (departmentParam != null) {
        $('select option[value="' + departmentParam + '"]').prop('selected',true);
    }

    if (ageStartParam != null) {
        $('#age-start select option[value="' + ageStartParam + '"]').prop('selected',true);
    }

    if (ageEndParam != null) {
        $('#age-end select option[value="' + ageEndParam + '"]').prop('selected',true);
    }

    if (genderParam != null) {
        $('select option[value="' + genderParam + '"]').prop('selected',true);
    }
    
</script>

{% endblock %}