{% extends "fr_legacy_base.html" %}
{% block title %}
<title>Ajouter votre institution: Cartographie des services disponibles pour enfants et familles vulnérables en Haïti</title>
{% endblock %}

{% block breadcrumbs %}
<div class="container">
  <div class="breadcrumbs">
    <a id="breadcrumb_home" href="/">Home</a> / <a id="breadcrumb_suggest_services" href="/fr_suggest_services">Propose des Services</a>
      <div id="language" style="text-align: right;  float:right; margin-right: 20px;">
      <a href="/language?language='fr'&redirect='/suggest_services'">Français</a> / <a href="/language?language='en'&redirect='/suggest_services'">English </a>
      </div>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="top">
  <h1>Proposer des Services</h1>
<hr/>
<p>La clé du succès de ce projet est dans le libre partage d'informations sur les servicespour les enfants orphelins et vulnérables en Haïti, y compris les services de santé mentale. Si vous êtes au courant des organisations, des programmes ou des services supplémentaires qui devraient être inclus dans cette base de données, s'il vous plaîtlaissez-nous savoir en remplissant le formulaire ci-dessous.</p>
<form method="POST" action="/suggest_services">
    <table class="block-table contact">
      <tr>
        <td><label for="name">Nom*</label></td>
        <td><input type="text" name="name" value="" id="name" placeholder="Entrez le nom complet ici" required title="S'il vous plaît remplir ce domaine"></td>
      </tr>
      <tr>
        <td><label for="email">Email*</label></td>
        <td><input type="text" name="email" value="" id="email" placeholder="Entrez e-mail ici" required title="S'il vous plaît remplir ce domaine"></td>
      </tr>          
      <tr>
        <td><label for="name">Organisation</label></td>
        <td><input type="text" name="organization" value="" id="organization" placeholder="enter organization name here"></td>
      </tr>
     <tr>
        <td><label for="name">Addresse</label></td>
        <td><input type="text" name="address" value="" id="address" placeholder="entrez l'adresse ici" required title="S'il vous plaît remplir ce domaine"></td>
      </tr>  
      <tr>
        <td><label for="name">Telephone</label></td>
        <td><input type="text" name="telephone" value="" id="address" placeholder="entrez telephone ici"></td>
      </tr>  
      <tr>
        <td><label for="department">Departement</label></td>
          <td>
        <select name="department">
            <option value="" selected>Choisissez la Departement</option>
            <option value="Artibonite">Artibonite</option>
            <option value="Centre">Centre</option>
            <option value="Grand Anse">Grand Anse</option>
            <option value="Nippes">Nippes</option>
            <option value="Nord">Nord</option>
            <option value="Nord-Est">Nord-Est</option>
            <option value="Nord-Ouest">Nord-Ouest</option>
            <option value="Ouest">Ouest</option>
            <option value="Sud">Sud</option>
            <option value="Sud-Est">Sud-Est</option>
        </select>
          </td>
      </tr>        
      <tr>
        <td><label for="category">Programme</label></td>
        <td>
        <select name="category">
            <option value="" selected>Sélectionnez la Programme</option>
            <option value="nutrition">Nutrition</option>
            <option value="home_based_care">Soins à domicile</option>
            <option value="shelter">Abri</option>
            <option value="child_protection">Protection de l'enfant</option>
            <option value="pyschosocial">Soutien psychosocial</option>
            <option value="health">Santé</option>
            <option value="education">Education</option>
            <option value="mental_health_services">Services Sante Mentales</option>
        </select></td>
      </tr>
     <tr>
        <td><label for="service">Service</label></td>
          <td>
            <input type="text" name="service" value="" id="service" placeholder="Service ici">
          </td>
      </tr>
      <tr>
        <td><label for="age">Tranche d'âge</label></td>
          <td>
        <select name="age" style="width:114px">
            <option value="None" selected>Age Min</option>
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
            <option value="13">13</option>
            <option value="14">14</option>
            <option value="15">15</option>
            <option value="16">16</option>
            <option value="17">17</option>
            <option value="18">18</option>
        </select>
        <select name="age_end" style="width:114px">
            <option value="None" selected>Age Max</option>
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
            <option value="13">13</option>
            <option value="14">14</option>
            <option value="15">15</option>
            <option value="16">16</option>
            <option value="17">17</option>
            <option value="18">18</option>
        </select>
          </td>
      </tr>
      <tr>
        <td><label for="gender">Sexe</label></td>
          <td>
        <select name="gender">
            <option value="" selected>Sélectionnez le Sexe</option>
            <option value="girls">Filles</option>
            <option value="boys">Garçons</option>
            <option value="boys & girls">Filles et Garçons</option>
        </select>
          </td>
      </tr>
      <tr>
        <td>
          <label for="details">Détails</label>
        </td>
        <td>
          <textarea name="details" cols=40 rows=6></textarea>
        </td>
      </tr>
    </table>
    <br/>
    <input type=submit value="Soumettre" id="submit">
  </form>
</div>

{% endblock %}
