{% extends "legacy_base.html" %}

{% block breadcrumbs %}
<div class="container">
  <div class="breadcrumbs">
    <a id="breadcrumb_home" href="/">Home</a>
      <div id="language" style="text-align: right; margin-top: -20px; margin-right: 20px;">
      <a href="/fr_index">Français</a> / <a href="/">English </a>  
      </div>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="top">
    <h1>About This Project</h1>
        <p>The purpose of the website is to increase access to and coordination of programming and services for vulnerable children across all main service areas (i.e. health, education and legal services).</p>
        <p>To accomplish our goal, this website provides an online directory of resources and services that can be easily searched with the use of an interactive online map of these services.</p>
    <p>The immediate objective is to develop an online interactive map that: focuses on the identification of the services; includes all services identified and verified concerning the welfare of children; provides access to all stakeholders via a platform based on the Web; be available to the Bridgade IBESR phone service to provide operators with information specific reference.</p>
</div>

<div class="mid">
    <h2>A New Way to Discover Services for Orphaned and Vulnerable Children</h2>
    <h3>Programs &amp; Services Map - A free, usable tool that's ready for you!</h3>
        <p>Learn more about the programs that serve orphans and vulnerable children throughout Haiti. Explore the site location, service, and organization. Gain a better perspective on country through relevant map data layers, such as levels of poverty and malnutrition rates.</p>

        <div id="map"></div>
            <div class="map-cta">
                <a href="/search"></a><div class="btn">Search For Services Near You</div></a>
            </div>
</div>

<div class="bottom">
<h3>Made With Collaboration In Mind</h3>
<!--p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p-->
<p class="list"><span class="genericon genericon-chat"></span><strong>Identify potential partners and collaborations.</strong></p>
    <!--p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p-->
<p class="list"><span class="genericon genericon-search"></span><strong>Identify gaps and avoid duplication.</strong></p>
    <!--p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p-->
<p class="list"><span class="genericon genericon-cog"></span><strong>Improve coordination and data.</strong></p>
    <!--p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p-->
    <p class="list"><span class="genericon genericon-checkmark"></span><strong>Make better decisions.</strong></p>
</div>

<br/>

<div class="footnote">
<h3>Share your organization and service information.</h3>
    <p><strong>We want to hear from you!</strong> Join our vision to better serve children in Haiti.</p>
<div class="bottom-cta">
    <a href="/suggest_services"></a><div class="btn">Join Now!</div></a>
</div>
</div>

<!-- Scripts Go Here -->
<script>
  var map = L.map('map').setView([18.533, -72.333], 7);
    map.scrollWheelZoom.disable();

  // add an OpenStreetMap tile layer
  L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
      attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
  }).addTo(map);



  {% for record in records %}
  // add a marker in the given location, attach some popup content to it and open the popup
  try {
 L.marker([{{ record.latitude }}, {{ record.longitude }}]).addTo(map)
        .bindPopup("<p style='color:black'><a href='/records/{{record.nom_de_lorganisation}}'>{{ record.nom_de_lorganisation }}</a></p>")
        .openPopup();
  }
  catch(err) {
    console.log("none");

  }


  {% endfor %}
</script>
{% endblock %}

