{% extends "legacy_admin.html" %}
{% block title %}
<title>Manual: Cartographie des services disponibles pour enfants et familles vulnérables en Haïti</title>
{% endblock %}

{% block breadcrumbs %}
  <div class="container">
    <div class="breadcrumbs">
      <a id="breadcrumb_home" href="/">Home</a> / <a href="/manual">Manual</a>
      <div id="language" style="text-align: right; float:right; margin-right: 20px;">
      <a href="/language?language='fr'&redirect='/manual'">Français</a> / <a href="/language?language='en'&redirect='/manual'">English </a>
    </div>
  </div>
</div>      
{% endblock %}
{% block content %}

<h2>Timoun Manual</h2>

  <div class="container">
    <h2>Table of Contents</h2>
    <ul>
      <li><a href="#browser_versions_chapter">Browser Versions</a></li>
      <li><a href="#home_page_chapter">Home Page and Navigation</a></li>
      <li><a href="#authentication_chapter">Users and Login/Logout</a></li>
      <li><a href="#dashboard_chapter">Dashboard and Audits</a></li>
    </ul>

    <h2 id="translations_chapter">French and English Translations</h2>
    <p>On each page, on the upper right, there is a link that says Français / English. Click to switch to that language.</p>

    <h2 id="home_page_chapter">Home Page and Navigation</h2>
    <p>The home page is located at https://timoun-production.appspot.com. On this page, you will see a welcome message and a brief overview of Timoun.</p>
    <!--p>INCLUDE IMAGE HERE | SHOW BOTH LEGACY AND MODERN BROWSER SCREENSHOTS</p-->
    <p>The Navigation bar has several links, each which lead to a separate page.</p>
    <!--ul>
      <li>About</li>
      <li>Search</li>
      <li>Contact IBESR</li>
      <li>Suggest Services</li>
      <li>Mental Health Services</li>
      <li>Login/Logout</li>
    </ul-->
    <h3>About</h3>
    <p>The about page is meant to give the public more information about Timoun.</p>
    <h3>Search</h3>
    <p>This page will allow for users to search for services in the Timoun database. It will also explain how best to search the database. How to use filters, keywords etc to narrow down their search.
    <h3>Contact IBESR</h3>
    <p>This page will explain a little bit about IBESR(Institut du Bien-Etre Social et de recherches), and give contact information for that organization.</p>
    <h3>Suggest Services</h3>
    <p>This page will allow the public to suggest new community services. Fill in the form, click submit, and IBESR will receive that info.</p>
    <h3>Mental Health Services</h3>
    <p>This page will serve as a directory of mental health services in the database.</p>
    <h3>Login/Logout</h3>
    <p>This page will allow users to login or logout. This process will be described in more detail <a href="#authentication_chapter">below</a></p>


    <h2 id="authentication_chapter">Users and Login/Logout</h2>
    <h3>Add a User</h3>
    <p>Users are added by an admin.</p>
    <p>An Admin will click <a href="/admin/users">Users</a> on the navigation bar. After that, the admin will click the <a href="/admin/users/new">Add User</a> button.</p>
    <p>After the admin fills out the form, the user will get a confirmation email, which will explain how they can set their password.</p>
    <h3>View and Delete Users</h3>
    <p>An Admin can click <a gref="/admin/users">Users</a> on the navigation bar to see all users. On that page, they can see basic user information, and can click on the email to edit or delete that user.</p>
    <h3>Forgot Password</h3>
    <p>If a user forgets their password, they can click <a href="/users/login">Login</a> and click <a href="/users/reset_password">Forgot Password</a>. Clicking either of these links will log you out. So you'll have to log back in if you use them.</p>
    <p>From here, a user will enter their email, and receive and email link explaining how they can reset their password safely.</p>

    <h2 id="admin_chapter">Admin Pages</h2>
    <h3>What can you do as an Admin?</h3>
    <p>The Admin user has several User Interface changes to take note of. When on a public page, an Admin user has an extra link at the top that says "Admin". To enter the Admin console, click on that link.</p>
    <p>Once there, the Admin has an Admin Nav on the left of the screen. This will allow the admin to explore the database, and track changes. There are options to view the Dashboard of all recent changes, as well as Users, Organizations, Programs, Services, Records, and this Manual.</p>

    <h2 id="dashboard_chapter">Dashboard and Audits</h2>
    <h3>View Audits on the Dashboard</h3>
    <p>Timoun keeps track of all changes to the database.</p>
    <p>An admin can see all changes by clicking <a href="/admin/dashboard">Dashboard</a> on the navigation panel.</p>
    <p>The Dashboard displays a table tracking all changes to the system. For instance, if you add a User, or edit a Record, this table will show you who the change was initiated by, what the resource affected was, the security clearance, the resource, the action performed ("Create User", for instance), and the Time. It will also allow you to click "View" to see more detailed information.</p>
    <p>This more detailed information will bring you to a separate page, which will show you all changes to that particular resource.</p>

    <h2 id="admin_organizations_chapter">Admin Organizations Panel</h2>
    <h3>View, add, and edit organizations</h3>
    <p>On the Admin panel, click "Organizations". This will show you a list of Organizations in the system. When you click on it, it will bring you to a Record that lists that organization, and all of it's programs and services.</p>
    <p>To edit, click "edit" and proceed to make changes that are present on the form.</p>
    <p>To add a new organization, click "Add Organization", and fill out the complete form for that record. This new Record will not be connected with iformbuilder in any way.</p>

    <h2 id="admin_programs_chapter">Admin Programs Panel</h2>
    <h3>View, add, and edit programs</h3>
    <p>On the Admin panel, click "Programs". This will show you a list of Programs in the system. When you click on it, it will bring you to a Record that lists that program, and all of it's programs and services.</p>
    <p>To edit, click "edit" and proceed to make changes that are present on the form.</p>
    <p>To add a new program, click "Add Program", and fill out the complete form for that record. This new Record will not be connected with iformbuilder in any way.</p>

    <h2 id="admin_services_chapter">Admin Services Panel</h2>
    <h3>View, add, and edit services</h3>
    <p>On the Admin panel, click "Services". This will show you a list of Services in the system. When you click on it, it will bring you to a Record that lists that service, and all of it's services and services.</p>
    <p>To edit, click "edit" and proceed to make changes that are present on the form.</p>
    <p>To add a new service, click "Add Service", and fill out the complete form for that record. This new Record will not be connected with iformbuilder in any way.</p>

    <h2 id="admin_records_chapter">Admin Records Panel</h2>
    <h3>View, add, and edit records</h3>
    <p>On the Admin panel, click "Records". This will show you a list of Records in the system. When you click on it, it will bring you to that's record's info page.</p>
    <p>To edit, click "edit" and proceed to make changes that are present on the form.</p>
    <p>To add a new record, click "Add Record", and fill out the complete form for that record. This new Record will not be connected with iformbuilder in any way.</p>

    <h2 id="how_orgs_and_records_interact_chapter">How Records Interact With Organizations</h2>
    <h3>Each Organization is connected to a record</h3>
    <p>There is nothing on the database simply called "Organization", there are only Records. When you are on the Organization index page, what you are seeing is a list of the records, shown by the associated organization name. This allows an admin to interact with everything associated with a record, not just the fields that pertain to it's organization.</p>

    <h2 id="how_services_and_records_interact_chapter">How Records Interact With Services</h3>
    <h3>Each service can have a list of records</h3>
    <p>There is nothing on the database simply called "Service", there are only Records. When you are on the Service index page, what you are seeing is a list of all of the Services derived from records in the database. When you click a Service, you will be presented a list of records that provide that service. From there you can click to view or edit that individual service.</p>

    <h2 id="how_programs_and_records_interact_chapter">How Records Interact With Programs</h3>
    <h3>Each program can have a list of records</h3>
    <p>There is nothing on the database simply called "Service", there are only Records. When you are on the Service index page, what you are seeing is a list of all of the Services derived from records in the database. When you click a Service, you will be presented a list of records that provide that program. From there you can click to view or edit that individual program.</p>

    <h2 id="profile_chapter">User Profile</h2>
    <h3>Viewing and editing user information</h3>
    <p>Any user, whether an Admin or not, can click on their own user profile. This will bring them to a pre-populated form that shows them was information we have for them on the system. To edit, make changes to the form, and hit submit. The changes will be stored on the database.</p>
  </div>
{% endblock %}
