{% extends "legacy_admin.html" %}

{% block title %}
<title>User Dashboard: Cartographie des services disponibles pour enfants et familles vulnérables en Haïti</title>
{% endblock %}

{% block breadcrumbs %}
<div class="container">
  <div class="breadcrumbs">
    <a id="breadcrumb_home" href="/">Home</a> / <a id="breadcrumb_admin" href="/admin">Admin</a> / <a id="breadcrumb_admin_users" href="/admin/users/dashboard">Dashboard</a> / Dashboard Item
    <div id="language" style="text-align: right; float:right; margin-right: 20px;">
      <a href="/language?language='fr">Français</a> / <a href="/language?language='en'">English </a>
    </div>
</div>
</div>
{% endblock %}

{% block content %}
  <h2>Dashboard Item</h2>

    <table class="table">
      <tr>
        <td>Initiated By</td>
        <td>{{ audit.initiated_by }}</td>
      </tr>
      <tr>
        <td>Resource Affected</td>
        <td>{{ audit.user_affected }}</td>
      </tr>
      <tr>
        <td>Security Clearance</td>
        <td>{{ audit.security_clearance }}</td>
      </tr>
      <tr>
        <td>Resource</td>
        <td>{{ audit.model_affected }}</td>
      </tr>
      <tr>
        <td>Action</td>
        <td>{{ audit.action }}</td>
      </tr>
      <tr>
        <td>Time</td>
        <td>{{ audit.created_at }}</td>
      </tr>
      <tr>
        <td>Changes</td>
        <td>{% for obj in json_obj %}{{ obj }}: {{ json_obj[obj] }}<br>{% endfor %}</td>
      </tr>
    </table>

{% endblock %}
