{% extends "fr_legacy_admin.html" %}

{% block breadcrumbs %}
<div class="container">
  <div class="breadcrumbs">
    <a id="breadcrumb_admin" href="/admin">Admin</a> / Edit Record
    <div id="language" style="text-align: right; float:right; margin-right: 20px;">
      <a href="/language?language='fr">Français</a> / <a href="/language?language='en'">English </a>
    </div>
  </div>
</div>
{% endblock %}

{% block content %}
  <h2>Edit Record</h2>
  {% if form.errors %}
    <ul class="errors">
        {% for field_name, field_errors in form.errors|dictsort if field_errors %}
            {% for error in field_errors %}
                <li>{{ form[field_name].label }}: {{ error }}</li>
            {% endfor %}
        {% endfor %}
    </ul>
  {% endif %}
  <form method="POST" action="/records/{{ record.key.id() }}/edit">
    <table>
      <tr>
        <td><input type="checkbox" name="remove" value="True">Stop Updating from IFormBuilder<br></td>
      </tr>

        {% for f in form %}
        <tr>
          <td>{{ f.label }}</td>
          <td>{{ f()|safe }}</td>
        </tr>
      {% endfor %}
    </table>
    <br>
    <input type=submit value=Submit>
  </form>
   <a href="/records/{{ record.key.id() }}/delete" onclick="return confirm('Are you sure you want to delete this service?');">Delete Service</a>

{% endblock %}
