{% extends "fr_legacy_admin.html" %}

{% block breadcrumbs %}
<div class="container">
  <div class="breadcrumbs">
    <a id="breadcrumb_admin" href="/admin">Admin</a> / Edit Program
    <div id="language" style="text-align: right; float:right; margin-right: 20px;">
      <a href="/language?language='fr">Français</a> / <a href="/language?language='en'">English </a>
    </div>
  </div>
</div>
{% endblock %}

{% block content %}
  <h2>Edit Program</h2>
  <h3>Org: {{org}}</h3>
  <form method="POST" action="/programs/{{ program[0] }}/edit">
    <table class="block-table admin">
         <input type="hidden" name="org_id" value="{{ program[1] }}">
        <tr>
            <td><label for="program_id">Programme</label></td> 
            <td><select name='program_id' autocomplete="off">
                <option value="">Sélectionnez un</option>
                <option value="1" {% if program[2] == 1 %}selected{% endif %}>Nutrition</option>
                <option value="2" {% if program[2] == 2 %}selected{% endif %}>Soins ? domicile</option>
                <option value="3" {% if program[2] == 3 %}selected{% endif %}>Abri</option>
                <option value="4" {% if program[2] == 4 %}selected{% endif %}>Protection de l?enfant</option>
                <option value="5" {% if program[2] == 5 %}selected{% endif %}>Sant?</option>
                <option value="6" {% if program[2] == 6 %}selected{% endif %}>Soutien psychosocial</option>
                <option value="7" {% if program[2] == 7 %}selected{% endif %}>Education</option>
                <option value="8" {% if program[2] == 8 %}selected{% endif %}>Services Sante Mentales</option>
                </select>
            </td>
        </tr>
        <tr>
            <td><label for="date">Date</label></td>
            <td><input name="date" type="text" value="{{ program[3] }}" /></td>
        </tr>
        <tr>
            <td><label for="budget">Budget</label></td> 
            <td><input name="budget" type="text" value="{{ program[4] }}"/></td>
        </tr>
        <tr>
            <td><label for="other">Other</label></td>  
            <td><input name="other" type="text" value="{{ program[5] }}"/></td>
        </tr>
        <tr>
            <td><label for="types">Types</label></td> 
            <td><input name="types" type="text" value="{{ program[6] }}"/></td>
        </tr>
        <tr><td><label for="assistance">Assistance</label></td> 
            <td><input name="assistance" type="text" value="{{ program[7] }}"/></td>
        </tr>
      </table>
      <br/>
    <input type=submit id="submit" class="admin-btn" value=Submit>        
  </form>
   <a href="#" onclick="return confirm('Are you sure you want to delete this program?');">Delete Program</a>

{% endblock %}
