{% extends "fr_legacy_admin.html" %}

{% block breadcrumbs %}
<div class="container">
  <div class="breadcrumbs">
    <a id="breadcrumb_admin" href="/admin">Administrateur</a> / Modifier Service
    <div id="language" style="text-align: right; float:right; margin-right: 20px;">
      <a href="/language?language='fr">Français</a> / <a href="/language?language='en'">English </a>
    </div>
  </div>
</div>
{% endblock %}

{% block content %}
  <h2>{{ service[1] }}</h2>



   <form method="POST" action="/services/{{service[0]}}/edit" name="service-form">
    
             <input type="hidden" name="org_id" value="{{service[3]}}">

        
        Programme: <select name='program_id' autocomplete="off"  required>
            <option value="">Select one</option>
            <option value="1" {% if service[11] == 1 %}selected{% endif %}>Nutrition</option>
            <option value="2" {% if service[11] == 2 %}selected{% endif %}>Home-Based Care</option>
            <option value="3" {% if service[11] == 3 %}selected{% endif %}>Shelter</option>
            <option value="4" {% if service[11] == 4 %}selected{% endif %}>Child protection</option>
            <option value="5" {% if service[11] == 5 %}selected{% endif %}>Health</option>
            <option value="6" {% if service[11] == 6 %}selected{% endif %}>Psychosocial Support</option>
            <option value="7" {% if service[11] == 7 %}selected{% endif %}>Education</option>
            <option value="8" {% if service[11] == 8 %}selected{% endif %}>Mental Health Services</option>
        </select>
        Nom  Français: <input name="name_french" type="text" value="{{ service[1] }}"  required>
        Nom English: <input name="name_english" type="text" value="{{ service[2] }}"/>
        Gender: 
        <input type="checkbox" name="garcons" value="1" {% if service[31] == 1 %} checked {% endif %}> Boys<br/>
        <input type="checkbox" name="filles" value="1" {% if service[32] == 1 %} checked {% endif %}> Girls<br/>
        Ages:
         <input type="checkbox" name="age_0" value="1" {% if service[12] == 1 %} checked {% endif %}> 0 ys<br />

         <input type="checkbox" name="age_1" value="1" {% if service[13] == 1 %} checked {% endif %}> 1 yr<br />
         <input type="checkbox" name="age_2" value="1" {% if service[14] == 1 %} checked {% endif %}> 2 ys<br />

         <input type="checkbox" name="age_3" value="1" {% if service[15] == 1 %} checked {% endif %}> 3 ys<br />

         <input type="checkbox" name="age_4" value="1" {% if service[16] == 1 %} checked {% endif %}> 4 ys<br />

         <input type="checkbox" name="age_5" value="1" {% if service[17] == 1 %} checked {% endif %}> 5 ys<br />

         <input type="checkbox" name="age_6" value="1" {% if service[18] == 1 %} checked {% endif %}> 6 ys<br />

         <input type="checkbox" name="age_7" value="1" {% if service[19] == 1 %} checked {% endif %}> 7 ys<br />

         <input type="checkbox" name="age_8" value="1" {% if service[20] == 1 %} checked {% endif %}> 8 ys<br />

         <input type="checkbox" name="age_9" value="1" {% if service[21] == 1 %} checked {% endif %}> 9 ys<br />

         <input type="checkbox" name="age_10" value="1" {% if service[22] == 1 %} checked {% endif %}> 10 ys<br />

         <input type="checkbox" name="age_11" value="1" {% if service[23] == 1 %} checked {% endif %}> 11 ys<br />

         <input type="checkbox" name="age_12" value="1" {% if service[24] == 1 %} checked {% endif %}> 12 ys<br />

         <input type="checkbox" name="age_13" value="1" {% if service[25] == 1 %} checked {% endif %}> 13 ys<br />

         <input type="checkbox" name="age_14" value="1" {% if service[26] == 1 %} checked {% endif %}> 14 ys<br />

         <input type="checkbox" name="age_15" value="1" {% if service[27] == 1 %} checked {% endif %}> 15 ys<br />

         <input type="checkbox" name="age_16" value="1" {% if service[28] == 1 %} checked {% endif %}> 16 ys<br />

         <input type="checkbox" name="age_17" value="1" {% if service[29] == 1 %} checked {% endif %}> 17 ys<br />

         <input type="checkbox" name="age_18" value="1" {% if service[30] == 1 %} checked {% endif %}> 18 ys<br />
        Days: 

         <input type="checkbox" name="lundi" value="1" {% if service[37] == 1 %} checked {% endif %}> Lundi<br />

         <input type="checkbox" name="mardi" value="1" {% if service[38] == 1 %} checked {% endif %}> Mardi<br />

         <input type="checkbox" name="mercredi" value="1" {% if service[39] == 1 %} checked {% endif %}> Mercredi<br />

         <input type="checkbox" name="jeudi" value="1" {% if service[40] == 1 %} checked {% endif %}> Jeudi<br />

         <input type="checkbox" name="vendredi" value="1" {% if service[41] == 1 %} checked {% endif %}> Vendredi<br />

         <input type="checkbox" name="samedi" value="1" {% if service[42] == 1 %} checked {% endif %}> Samedi<br />

         <input type="checkbox" name="dimanche" value="1" {% if service[43] == 1 %} checked {% endif %}> Dimanche<br />

        Notes: <textarea name='notes' cols=40 rows=6 value="{{ service[45] }}"></textarea>
       <input type=submit class="btn btn-c user" align="left" value="Soumettre">
  </form>
   <a href="/services/{{service[0]}}/edit" onclick="return confirm('Êtes-vous sûr de vouloir supprimer ce service?');">Supprimer Service</a>
{% endblock %}
    