{% extends "legacy_admin.html" %}

{% block title %}
<title>New User: Cartographie des services disponibles pour enfants et familles vulnérables en Haïti</title>
{% endblock %}

{% block breadcrumbs %}
<div class="container">
  <div class="breadcrumbs">
    <a id="breadcrumb_home" href="/">Acceuille</a> / <a id="breadcrumb_admin" href="/admin">Administrateur</a> / <a id="breadcrumb_admin_new_user" href="/admin/users/new">New User</a>
    <div id="language" style="text-align: right; float:right; margin-right: 20px;">
      <a href="/language?language='fr">Français</a> / <a href="/language?language='en'">English </a>
    </div>
  </div>
</div>
{% endblock %}

{% block content %}
  <h2>New User</h2>
  {% if form.errors %}
    <ul class="errors">
        {% for field_name, field_errors in form.errors|dictsort if field_errors %}
            {% for error in field_errors %}
                <li>{{ form[field_name].label }}: {{ error }}</li>
            {% endfor %}
        {% endfor %}
    </ul>
  {% endif %}
  <form method="POST" action="/admin/users/new">
    <table>
      <tr>
        <td>{{ form.email.label }}</td>
        <td>{{ form.email()|safe }}</td>
      </tr>
      <tr>
        <td>{{ form.name.label }}</td>
        <td>{{ form.name()|safe }}</td>
      </tr>
      <tr>
        <td>{{ form.organization.label }}</td>
        <td>{{ form.organization()|safe }}</td>
      </tr>
      <tr>
        <td>{{ form.phone.label }}</td>
        <td>{{ form.phone()|safe }}</td>
      </tr>
      <tr>
        <td>{{ form.role.label }}</td>
        <td>{{ form.role()|safe }}</td>
      </tr>
    </table>
    <br>
    <input type=submit value=Submit>
  </form>
{% endblock %}
