{% extends "legacy_admin.html" %}

{% block breadcrumbs %}
<div class="container">
  <div class="breadcrumbs">
    <a id="breadcrumb_home" href="/">Acceuille</a> / <a id="breadcrumb_admin" href="/admin">Administrateur</a> / <a id="breadcrumb_admin_organizations" href="/admin/records">Records</a>
    <div id="language" style="text-align: right; float:right; margin-right: 20px;">
      <a href="/language?language='fr">Français</a> / <a href="/language?language='en'">English </a>
    </div>
  </div>
</div>
{% endblock %}

{% block content %}
  <h2>Records</h2>
  <a href="/records/new" class="btn btn-a user">Add Record</a>
  <a href="#" class="btn btn-b user">Voir Changements</a>
    {% if last_page >= 0 %}
    <a href="/admin/records?page={{last_page}}" class="btn btn-b user yellow">Page Suivant</a>
    {% endif %}
    <a href="/admin/records?page={{next_page}}" class="btn btn-b user yellow">Dernière Page</a>

{% if records_length > 0 %}

  <h3 class="no-margin">Filter</h3>
   <form action="" id="records-form" class="search-form">
    <div id="search-container" align="left">
    <div class="records-search" align="left">
            <label>Mots-clés</label>
            <input type="text" name="keywords" value="" id="keywords" placeholder="enter search terms here...">

    </div>
    <div class="records-search" align="left">
        <label>Service</label>
        <select name="service">
            <option value="" selected>Sélectionnez Service</option>
            <optgroup label="Nutrition (Prog 1)">
                <option value="Cantine scolaire">Cantine scolaire</option>
                <option value="Distribution de lait pour bébé">Distribution de lait pour bébé</option>
                <option value="Distribution de nourriture pour l’enfant adapté à son âge">Distribution de nourriture pour l’enfant adapté à son âge</option>
                <option value="Distribution ration sèche">Distribution ration sèche</option>
                <option value="Education nutritionnelle">Education nutritionnelle</option>
                <option value="Jardins potagers">Jardins potagers</option>
                <option value="Sécurité alimentaire">Sécurité alimentaire</option>              
            </optgroup>
            <optgroup label="Soins à domicile (Prog 2)">
                <option value="Autres à spécifier">Autres à spécifier</option>
                <option value="Distribution de kits d’hygiène">Distribution de kits d’hygiène</option>
                <option value="Distribution de produit pour le traitement de l’eau">Distribution de produit pour le traitement de l’eau</option>
                <option value="Vêtements">Vêtements</option>
            </optgroup>
            <optgroup label="Abri (Prog 3)">
                <option value="Abri permanent">Abri permanent</option>
                <option value="Abri provisoire">Abri provisoire</option>
                <option value="Autres à spécifier">Autres à spécifier</option>
                <option value="Réparation de maison">Réparation de maison</option>
                <option value="spécifier quel type_____________">spécifier quel type_____________</option>
            </optgroup>
            <optgroup label="Protection de l’enfant (Prog 4)">
                <option value="abus émotionnel">abus émotionnel</option>
                <option value="Abus physique">Abus physique</option>
                <option value="abus sexuel">abus sexuel</option>
                <option value="Autres">Autres</option>
                <option value="formation sur la protection de l’enfant">formation sur la protection de l’enfant</option>   
                <option value="négligence">négligence</option>       
                <option value="Parrainage">Parrainage</option>
                <option value="placement en famille d’accueil permanente">placement en famille d’accueil permanente</option>
                <option value="placement en famille d’accueil transitoire">placement en famille d’accueil transitoire</option>
                <option value="placement en maisons d’enfants en accord avec IBESR">placement en maisons d’enfants en accord avec IBESR</option>
                <option value="protection légale">protection légale</option>
                <option value="Réponses aux cas d’abus et exploitation">Réponses aux cas d’abus et exploitation</option>
                <option value="réunification familiale">réunification familiale</option>
                <option value="support aux enfants des rues">support aux enfants des rues</option>
                <option value="support aux enfants en conflit avec la loi">support aux enfants en conflit avec la loi</option>
                <option value="support aux enfants en domesticité">support aux enfants en domesticité</option>
                <option value="support aux enfants handicapés">support aux enfants handicapés</option>
                <option value="support aux enfants victimes de traite">support aux enfants victimes de traite</option>
            </optgroup> 
            <optgroup label="Santé (Prog 5)">
                <option value="Autres">Autres</option>
                <option value="Consultation pour enfants">Consultation pour enfants</option>
                <option value="Déparasitage">Déparasitage</option>
                <option value="Distribution de vitamine A etc…">Distribution de vitamine A etc…</option>
                <option value="Education sanitaires des parents / tuteurs">Education sanitaires des parents / tuteurs</option>
                <option value="Poste de rassemblement/Vaccination">Poste de rassemblement/Vaccination</option>
                <option value="Service de réadaptation et de stimulation pour les handicapés">Service de réadaptation et de stimulation pour les handicapés</option>
                <option value="Soins aux enfants affectés/ infectés par  le VIH/SIDA">Soins aux enfants affectés/ infectés par  le VIH/SIDA</option>
            </optgroup>
            <optgroup label="Soutien psychosocial (Prog 6)">
                <option value="Activités culturelles">Activités culturelles</option>
                <option value="Activités ludiques">Activités ludiques</option>
                <option value="Art floral">Art floral</option>
                <option value="Autres">Autres</option>
                <option value="Counselling">Counselling</option>
            </optgroup>
            <optgroup label="Education (Prog 7)">
                <option value="Autres">Autres</option>
                <option value="Ecole spécialisée pour handicapés">Ecole spécialisée pour handicapés</option>
                <option value="Formation non formelle">Formation non formelle</option>
                <option value="Formation professionnelle Spécifier">Formation professionnelle Spécifier</option>
                <option value="Préscolaire">Préscolaire</option>
                <option value="Primaire">Primaire</option>
                <option value="Secondaire">Secondaire</option>
            </optgroup>
            <optgroup label="Services Sante Mentales (Prog 8)">
                <option value="Services Sante Mentales">Services Sante Mentales</option>
            </optgroup>            
        </select>
    </div>
    <div class="records-search" align="left">
        <label>Department</label>
        <select name="department">
            <option value="" selected>Select Department</option>
            <optgroup label="Artibonite">
                <option value="Anse rouge">Anse rouge</option>
                <option value="Ennery">Ennery</option>
                <option value="Gonaives">Gonaives</option>
                <option value="Saint-michel">Saint-michel</option>
                <option value="Terre neuve">Terre neuve</option>
            </optgroup>
            <optgroup label="Centre">
                <option value="Belladere">Belladere</option>
                <option value="Ceca la source">Ceca la source</option>
                <option value="Cerca carvajal">Cerca carvajal</option>
                <option value="Hinche">Hinche</option>
                <option value="Lascahobas">Lascahobas</option>
                <option value="Maissade">Maissade</option>
                <option value="Saut-d'eau">Saut-d'eau</option>
                <option value="Thomassique">Thomassique</option>
                <option value="Thomonde">Thomonde</option>
            </optgroup>
            <optgroup label="Grand Anse">
                <option value="Dame-marie">Dame-marie</option>
                <option value="Jeremie">Jeremie</option>
            </optgroup>
            <option value="Nippes">Nippes</option>
            <optgroup label="Nord">
                <option value="Pignon">Pignon</option>
            </optgroup>
            <option value="Nord-Est">Nord-Est</option>
            <option value="Nord-Ouest">Nord-Quest</option>            
            <optgroup label="Ouest">
                <option value="Delmas">Delmas</option>
                <option value="Leogane">Leogane</option>
                <option value="Petit-goave">Petit-goave</option>
            </optgroup>
            <optgroup label="Sud">
                <option value="Aquin">Aquin</option>
                <option value="Arniquet">Arniquet</option>
                <option value="Camp perrin">Camp perrin</option>
                <option value="Cavaillon">Cavaillon</option>
                <option value="Chantal">Chantal</option>
                <option value="Coteaux">Coteaux</option>
                <option value="Les anglais">Les anglais</option>
                <option value="Les cayes">Les cayes</option>
                <option value="Maniche">Maniche</option>
                <option value="Port-a-piment">Port-a-piment</option>
                <option value="Port-salut">Port-salut</option>
                <option value="Roche-a-bateau">Roche-a-bateau</option>
                <option value="St. Jean du sud">St. Jean du sud</option>
                <option value="St. Louis du sud">St. Louis du sud</option>
                <option value="Tiburon">Tiburon</option>
                <option value="Torbeck">Torbeck</option>
            </optgroup>
            <optgroup label="Sud-Est">
                <option value="Anse-a-pitre">Anse-a-pitre</option>
                <option value="Bainet">Bainet</option>
                <option value="Belle anse">Belle anse</option>
                <option value="Cayes-jacmel">Cayes-jacmel</option>
                <option value="Cote-de-fer">Cote-de-fer</option>
                <option value="Grand gosier">Grand gosier</option>
                <option value="Jacmel">Jacmel</option>
                <option value="La vallee">La vallee</option>
                <option value="Marigot">Marigot</option>
                <option value="Thiotte">Thiotte</option>
            </optgroup>
            <option value="none">N/A</option>
        </select>
    </div>
    </div> <!-- //.search-container -->
    <!-- // 1st Row  -->

    <!-- 2nd Row Starts -->
    <div id="search-container" align="left">
    <div class="records-search" align="left">
        <label>Age Min:</label>
        <select name="age">
            <option value="" selected>Sélectionnez Gamme</option>
            <option value="">Ans 0-3</option>
            <option value="">Ans 4-10</option>
            <option value="">Ans 11-14</option>
            <option value="">Ans 15-18</option>
            <option value="none">P/A</option>
        </select>
        </div>
    <div class="records-search" align="left">
        <label>Age Max:</label>
        <select name="age">
            <option value="" selected>Select Gamme</option>
            <option value="">Age 0-3</option>
            <option value="">Age 4-10</option>
            <option value="">Age 11-14</option>
            <option value="">Age 15-18</option>
            <option value="none">N/A</option>
        </select>
    </div>
    <div class="records-search" align="left">
        <label>Gender Recherche</label>
        <select name="gender">
            <option value="" selected>Sélectionner une option</option>
            <option {% if gender == "male" %} selected {% endif %} value="male">Garçons</option>
            <option {% if gender == "female" %} selected {% endif %}  value="female">Filles</option>
            <option value="none">Les garçons et les filles</option>
            <option value="none">P/A</option>
        </select>
    </div>
    </div><!-- //.search-container -->
    <!-- // 2nd Row  -->
            <div class="map-cta" id="records-cta">
                <input type="submit" class="btn" value="Search Now">
            </div>
</form>
    <table class="table records">
      <thead>
        <tr>
          <th>Nom De L'Organization</th>
        </tr>
      </thead>

    {% for record in records %}
        <tbody>
          <tr>
            <td><a href="/admin/records/{{ record[1] }}"><i class="ico">✎</i> {{ record[0] }}</a></td>
          </tr>
        </tbody>
    {% endfor %}
  {% endif %}
  </table>
       
    {% if last_page >= 0 %}
    <a href="/admin/records?page={{last_page}}" class="btn btn-b user yellow">Page Suivant</a>
    {% endif %}
    <a href="/admin/records?page={{next_page}}" class="btn btn-b user yellow">Dernière Page</a>

  {% if records_length == 0 %}
    <p>Aucun</p>
  {% endif %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script type="text/javascript">
  console.log("in script");
  $( "form" ).on( "submit", function( event ) {
    console.log("on submit")
    event.preventDefault();
    var queryString = $( this ).serialize();
    console.log(queryString);
    window.location = "/admin/records?" + queryString + "#search-mid";
  });
</script>
{% endblock %}
