{% extends "legacy_admin.html" %}
{% block title %}
<title>User Dashboard: Cartographie des services disponibles pour enfants et familles vulnérables en Haïti</title>
{% endblock %}

{% block breadcrumbs %}
<div class="container">
  <div class="breadcrumbs">
    <a id="breadcrumb_home" href="/">Acceuille</a> / <a id="breadcrumb_admin" href="/admin">Administrateur</a> / Tableau De Bord
    <div id="language" style="text-align: right; float:right; margin-right: 20px;">
      <a href="/language?language='fr">Français</a> / <a href="/language?language='en'">English </a>
    </div>
</div>
</div>
{% endblock %}

{% block content %}
  <h2>Utilisateur Tableau De Bord</h2>

  <a href="/admin/export/user_dashboard" class="btn btn-a">Download CSV</a>

  {% if audits.count() > 0 %}
    <table class="table">
      <thead>
        <tr>
          <th>Initié Par</th>
          <th>Visé Utilisateur</th>
          <th>Habilitation De Sécurité</th>
          <th>Ressource</th>
          <th>Action</th>
          <th>Temps</th>
          <th>Plus</th>
        </tr>
      </thead>

    {% for audit in audits %}

        <tbody>
          <tr>
            <td>{{ audit.initiated_by }}</td>
            <td>{{ audit.user_affected }}</td>
            <td>{{ audit.security_clearance }}</td>
            <td>{{ audit.model_affected }}</td>
            <td>{{ audit.action }}</td>
            <th>{{ audit.created_at }}</td>
            <td><a href="/admin/users_dashboard/{{ audit.key.id() }}">View</a></td>
          </tr>
        </tbody>
    {% endfor %}
  {% endif %}
  </table>


  {% if audits.count() == 0 %}
    <p>Aucun</p>
  {% endif %}
{% endblock %}
