{% extends "legacy_admin.html" %}

{% block breadcrumbs %}
<div class="container">
  <div class="breadcrumbs">
    <a id="breadcrumb_home" href="/">Home</a> / <a id="breadcrumb_admin" href="/admin">Admin</a> / <a id="breadcrumb_admin_new_user" href="/admin/programs/new">New Program</a>
    <div id="language" style="text-align: right; float:right; margin-right: 20px;">
      <a href="/language?language='fr">Français</a> / <a href="/language?language='en'">English </a>
    </div>
  </div>
</div>
{% endblock %}

{% block content %}
  <h2>New Program</h2>
  {% if form.errors %}
    <ul class="errors">
        {% for field_name, field_errors in form.errors|dictsort if field_errors %}
            {% for error in field_errors %}
                <li>{{ form[field_name].label }}: {{ error }}</li>
            {% endfor %}
        {% endfor %}
    </ul>
  {% endif %}
  <form method="POST" action="/programs/new">
    <table class="block-table admin">
        <tr>
            <td><label for="org_id">Organization</label></td>
            <td><select name='org_id'>
                <option value="">Select one</option>
                <option value="120">AFIAVIH</option>
                </select>
            </td>
        </tr>
        <tr>
            <td><label for="program_id">Program</label></td> 
            <td><select name='program_id'>
                <option value="">Select one</option>
                <option value="1">Nutrition</option>
                <option value="2">Home-based Care</option>
                <option value="3">Shelter</option>
                <option value="4">Child Protection</option>
                <option value="6">Psychosocial Support</option>
                <option value="5">Health</option>
                <option value="7">Education</option>
                <option value="8">Mental Health Services</option>
                </select>
            </td>
        </tr>
        <tr>
            <td><label for="date">Date</label></td>
            <td><input name="date" type="text" /></td>
        </tr>
        <tr>
            <td><label for="budget">Budget</label></td> 
            <td><input name="budget" type="text" /></td>
        </tr>
        <tr>
            <td><label for="other">Autre</label></td>  
            <td><input name="other" type="text" /></td>
        </tr>
        <tr>
            <td><label for="types">Types</label></td> 
            <td><input name="types" type="text" /></td>
        </tr>
        <tr><td><label for="assistance">Assistance</label></td> 
            <td><input name="assistance" type="text" /></td>
        </tr>
      </table>
      <br/>
    <input type=submit id="submit" class="admin-btn" value=Submit>        
  </form>
{% endblock %}
