{% extends "legacy_admin.html" %}

{% block breadcrumbs %}
<div class="container">
  <div class="breadcrumbs">
    <a id="breadcrumb_admin" href="/admin">Admin</a> / New Record
  </div>
</div>
{% endblock %}

{% block content %}
  <h2>New Record</h2>
  {% if form.errors %}
    <ul class="errors">
        {% for field_name, field_errors in form.errors|dictsort if field_errors %}
            {% for error in field_errors %}
                <li>{{ form[field_name].label }}: {{ error }}</li>
            {% endfor %}
        {% endfor %}
    </ul>
  {% endif %}
  <form method="POST" action="/records/new">
    <table>
        {% for f in form %}
        <tr>
          <td>{{ f.label }}</td>
          <td>{{ f()|safe }}</td>
        </tr>
      {% endfor %}
    </table>
    <br>
    <input type=submit value=Submit>
  </form>
{% endblock %}
