{% extends "legacy_admin.html" %}

{% block breadcrumbs %}
<div class="container">
  <div class="breadcrumbs">
    <a id="breadcrumb_home" href="/">Home</a> / <a id="breadcrumb_admin" href="/admin">Admin</a> / <a id="breadcrumb_admin_new_user" href="/admin/services/new">New Service</a>
    <div id="language" style="text-align: right; float:right; margin-right: 20px;">
      <a href="/language?language='fr">Français</a> / <a href="/language?language='en'">English </a>
    </div>
  </div>
</div>
{% endblock %}

{% block content %}
  <h2>New Service</h2>
  {% if form.errors %}
    <ul class="errors">
        {% for field_name, field_errors in form.errors|dictsort if field_errors %}
            {% for error in field_errors %}
                <li>{{ form[field_name].label }}: {{ error }}</li>
            {% endfor %}
        {% endfor %}
    </ul>
  {% endif %}
  <form method="POST" action="/services/new">
  <table class="block-table admin">
    <tr>
        <td>Program:</td> 
        <td><select name='program_id' required>
            <option value="" selected>Select Program</option>
            <option value="1">Nutrition</option>
            <option value="2">Home-Based Care</option>
            <option value="3">Shelter</option>
            <option value="4">Child protection</option>
            <option value="5">Health</option>
            <option value="6">Psychosocial Support</option>
            <option value="7">Education</option>
            <option value="8">Mental Health Services</option>
        </select>
        </td>
    </tr>
    <tr>
        <td>French Name:</td> 
        <td><input name="name_french" type="text" required></td>
    </tr>
    <tr>
        <td>English Name:</td> 
        <td><input name="name_english" type="text" /></td>
    </tr>
    <tr>
        <td>Gender:</td>
        <td><select name='gender'>
            <option value="" selected>Select gender</option> 
            <option value="garcons">Boys</option>
            <option value="filles">Girls</option>
            <option value="garcons et filles">Boys &amp; Girls</option>
       </td>
    </tr>
    <tr>
        <td>Age Min:</td>
        <td><select name="age_start">
            <option value="0" selected>Select Age</option>
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
            <option value="13">13</option>
            <option value="14">14</option>
            <option value="15">15</option>
            <option value="16">16</option>
            <option value="17">17</option>
            <option value="18">18</option>
            </select></td>
    </tr>
    <tr>
        <td>Age Max:</td>
        <td><select name="age_end">
            <option value="0" selected>Select Age</option>
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
            <option value="13">13</option>
            <option value="14">14</option>
            <option value="15">15</option>
            <option value="16">16</option>
            <option value="17">17</option>
            <option value="18">18</option>
            </select></td>
    </tr>
    <tr>
        <td>Day:</td>
        <td>
        <input type="hidden" name="lundi" value="0"><!-- Value = 0 if unchecked --> <input type="checkbox" name="lundi" value="1"> Monday<br/>
        <input type="hidden" name="mardi" value="0"><!-- Value = 0 if unchecked --> <input type="checkbox" name="mardi" value="1"> Tuesday<br/>
        <input type="hidden" name="mercredi" value="0"><!-- Value = 0 if unchecked --> <input type="checkbox" name="mercredi" value="1"> Wednesday<br/>
        <input type="hidden" name="jeudi" value="0"><!-- Value = 0 if unchecked --> <input type="checkbox" name="jeudi" value="1"> Thursday<br/>
        <input type="hidden" name="vendredi" value="0"><!-- Value = 0 if unchecked --> <input type="checkbox" name="vendredi" value="1"> Friday<br/>
        <input type="hidden" name="samedi" value="0"><!-- Value = 0 if unchecked --> <input type="checkbox" name="samedi" value="1"> Saturday<br/>
        <input type="hidden" name="dimanche" value="0"><!-- Value = 0 if unchecked --> <input type="checkbox" name="dimanche" value="1"> Sunday
            </td>
    </tr>
    <tr>
        <td>Notes:</td> 
        <td><textarea name='notes' cols="40" rows="6" class="notes"></textarea></td>
    </tr>    
  </table>
<div align="left">
<input type="submit" class="btn btn-b user" align="left" value="Submit">    
</div> 
</form>
{% endblock %}
