{% extends "legacy_admin.html" %}

{% block breadcrumbs %}
<div class="container">
  <div class="breadcrumbs">
    <a id="breadcrumb_home" href="/">Home</a> / <a id="breadcrumb_admin" href="/admin">Admin</a> / <a id="breadcrumb_admin_organizations" href="/admin/programs">Programs</a>
    <div id="language" style="text-align: right; float:right; margin-right: 20px;">
      <a href="/language?language='fr">Français</a> / <a href="/language?language='en'">English </a>
    </div>
  </div>
</div>
{% endblock %}

{% block content %}
  <h2>Programs</h2>
  <a href="/admin/programs/new" class="btn btn-a">Add Program</a>
  <a href="/admin/programs/dashboard" class="btn btn-b">See Program Changes</a>

  {% if records_length > 0 %}
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
        </tr>
      </thead>

    {% for record in records %}
        <tbody>
          <tr>
            <td><a href="/admin/records/{{ record.key.id() }}">{{ record.nom_de_lorganisation }}</a></td>
          </tr>
        </tbody>
    {% endfor %}
  {% endif %}
  </table>


  {% if records_length == 0 %}
    <p>No Programs added</p>
  {% endif %}
{% endblock %}
