{% extends "legacy_admin.html" %}

{% block breadcrumbs %}
<div class="container">
  <div class="breadcrumbs">
    <a id="breadcrumb_home" href="/">Acceuille</a> / <a id="breadcrumb_admin" href="/admin">Administrateur</a> / <a id="breadcrumb_admin_organizations" href="/admin/records">Records</a>
    <div id="language" style="text-align: right; float:right; margin-right: 20px;">
      <a href="/language?language='fr">Français</a> / <a href="/language?language='en'">English </a>
    </div>
  </div>
</div>
{% endblock %}

{% block content %}
  <h2>Records</h2>
  
  {% if role == "admin" %}
      <a href="/records/new" class="btn btn-a user">Add Record</a>
      <a href="/admin/users/dashboard" class="btn user yellow">View Changes</a>
  {% endif %}
    {% if last_page >= 0 %}
    <a href="/admin/records?page={{last_page}}" class="btn btn-d user">Previous Page</a>
    {% endif %}
    <a href="/admin/records?page={{next_page}}" class="btn btn-d user">Next Page</a>
  <a href="/admin/export/records" class="btn btn-b user">CSV</a>

{% if records_length > 0 %}

  <h3 class="no-margin">Filter</h3>
    <form action="">
        <table class="inline-table records">
        <tr>
            <th><label for="keywords">Keywords</label></th>
            <th><label for="service">Service</label></th>
            <th><label for="department">Department/Commune</label></th>
        </tr>
        <tr>
            <td><input type="text" name="keywords" value="" id="keywords" placeholder="enter search terms here..."></td>
            <td><select name="service">
            <option value="" selected>Select Service</option>
            <optgroup label="Nutrition">
                <option value="Cantine scolaire">School canteen</option>
                <option value="Distribution de lait pour bébé">Distribution of milk for baby</option>
                <option value="Distribution de nourriture pour l’enfant adapté à son âge">Distribution of food to children age-appropriate</option>
                <option value="Distribution ration sèche">Distribution dry ration</option>
                <option value="Education nutritionnelle">Nutritional education</option>
                <option value="Jardins potagers">Vegetable gardens</option>
                <option value="Sécurité alimentaire">Food security</option>
            </optgroup>
            <optgroup label="Home Based Care">
                <option value="Distribution de kits d’hygiène">Distribution of hygiene kits</option>
                <option value="Distribution de produit pour le traitement de l’eau">Product distribution for the treatment of water</option>
                <option value="Vêtements">Clothing</option>
                <option value="Autres à spécifier">Other</option>
            </optgroup>
            <optgroup label="Shelter">
                <option value="Abri permanent">Permanent shelter</option>
                <option value="Abri provisoire">Temporary shelter</option>
                <option value="Réparation de maison">Home repair</option>
                <option value="Autres à spécifier">Other</option>
                <!--option value="spécifier quel type_____________">specify which type_____________</option-->
            </optgroup>
            <optgroup label="Child Protection">
                <option value="abus émotionnel">Emotional abuse</option>
                <option value="Abus physique">Physical abuse</option>
                <option value="abus sexuel">Sexual abuse</option>
                <option value="formation sur la protection de l’enfant">Training on child protection</option>   
                <option value="négligence">Negligence</option>       
                <option value="Parrainage">Sponsorship</option>
                <option value="placement en famille d’accueil permanente">Investment in permanent foster family</option>
                <option value="placement en famille d’accueil transitoire">Family of investment transitional home</option>
                <option value="placement en maisons d’enfants en accord avec IBESR">Houses for placement of children in accordance with IBESR</option>
                <option value="protection légale">Legal Protection</option>
                <option value="Réponses aux cas d’abus et exploitation">Answers to abuse and exploitation</option>
                <option value="réunification familiale">Family reunification</option>
                <option value="support aux enfants des rues">Support for street children</option>
                <option value="support aux enfants en conflit avec la loi">Support to children in conflict with the law</option>
                <option value="support aux enfants en domesticité">Support for children in domestic</option>
                <option value="support aux enfants handicapés">Support for disabled children</option>
                <option value="support aux enfants victimes de traite">Support to trafficked children</option>
                <option value="Autres">Other</option>
            </optgroup>
            <optgroup label="Health">
                <option value="Consultation pour enfants">Child consultation</option>
                <option value="Déparasitage">Deworming</option>
                <option value="Distribution de vitamine A etc…">Distribution of vitamin A etc ...</option>
                <option value="Education sanitaires des parents / tuteurs">Health education of parents / guardians</option>
                <option value="Poste de rassemblement/Vaccination">Assembly position / vaccination</option>
                <option value="Service de réadaptation et de stimulation pour les handicapés">Rehabilitation and stimulation services for disabled</option>
                <option value="Soins aux enfants affectés/ infectés par  le VIH/SIDA">Care of children affected / infected by HIV / AIDS</option>
                <option value="Autres">Other</option>
            </optgroup>
            <optgroup label="Psychosocial Support">
                <option value="Activités culturelles">Cultural activites</option>
                <option value="Activités ludiques">Fun activities</option>
                <option value="Art floral">Floristry</option>
                <option value="Counselling">Counselling</option>
                <option value="Autres">Autres</option>
            </optgroup>
            <optgroup label="Education">
                <option value="Ecole spécialisée pour handicapés">Specialized school for disabled</option>
                <option value="Formation non formelle">Non-formal education</option>
                <option value="Formation professionnelle Spécifier">Training</option>
                <option value="Préscolaire">Preschool</option>
                <option value="Primaire">Primary</option>
                <option value="Secondaire">Secondary</option>
                <option value="Autres">Other</option>
            </optgroup>
            <optgroup label="Mental Health Services">
                <option value="Services Sante Mentales">Mental health services</option>
            </optgroup>
        </select></td>
            <td><select name="department">
            <option value="" selected>Sélectionnez Dep't/Commune</option>            
            <option value="Artibonite" class="optionGroup">Artibonite</option>
                <option value="Anse rouge" class="optionChild">Anse rouge</option>
                <option value="Ennery" class="optionChild">Ennery</option>
                <option value="Gonaives" class="optionChild">Gonaives</option>
                <option value="Saint-michel" class="optionChild">Saint-michel</option>
                <option value="Terre neuve" class="optionChild">Terre neuve</option>
                <option value="Centre" class="optionGroup">Centre</option>
                <option value="Belladere" class="optionChild">Belladere</option>
                <option value="Ceca la source" class="optionChild">Ceca la source</option>
                <option value="Cerca carvajal" class="optionChild">Cerca carvajal</option>
                <option value="Hinche" class="optionChild">Hinche</option>
                <option value="Lascahobas" class="optionChild">Lascahobas</option>
                <option value="Maissade" class="optionChild">Maissade</option>
                <option value="Saut-d'eau" class="optionChild">Saut-d'eau</option>
                <option value="Thomassique" class="optionChild">Thomassique</option>
                <option value="Thomonde" class="optionChild">Thomonde</option>
            <option value="Grand Anse" class="optionGroup">Grand Anse</option>
                <option value="Dame-marie" class="optionChild">Dame-marie</option>
                <option value="Jeremie" class="optionChild">Jeremie</option>
            <option value="Nippes" class="optionGroup">Nippes</option>    
            <option value="Nord" class="optionGroup">Nord</option>
                <option value="Pignon" class="optionChild">Pignon</option>
            <option value="Nord-Est" class="optionGroup">Nord-Est</option>
            <option value="Nord-Ouest" class="optionGroup">Nord-Ouest</option>
            <option value="Quest" class="optionGroup">Ouest</option>
                <option value="Delmas" class="optionChild">Delmas</option>
                <option value="Leogane" class="optionChild">Leogane</option>
                <option value="Petit-goave" class="optionChild">Petit-goave</option>
            <option value="Sud" class="optionGroup">Sud</option>
                <option value="Aquin" class="optionChild">Aquin</option>
                <option value="Arniquet" class="optionChild">Arniquet</option>
                <option value="Camp perrin" class="optionChild">Camp perrin</option>
                <option value="Cavaillon" class="optionChild">Cavaillon</option>
                <option value="Chantal" class="optionChild">Chantal</option>
                <option value="Coteaux" class="optionChild">Coteaux</option>
                <option value="Les anglais" class="optionChild">Les anglais</option>
                <option value="Les cayes" class="optionChild">Les cayes</option>
                <option value="Maniche" class="optionChild">Maniche</option>
                <option value="Port-a-piment" class="optionChild">Port-a-piment</option>
                <option value="Port-salut" class="optionChild">Port-salut</option>
                <option value="Roche-a-bateau" class="optionChild">Roche-a-bateau</option>
                <option value="St. Jean du sud" class="optionChild">St. Jean du sud</option>
                <option value="St. Louis du sud" class="optionChild">St. Louis du sud</option>
                <option value="Tiburon" class="optionChild">Tiburon</option>
                <option value="Torbeck" class="optionChild">Torbeck</option>
            <option value="Sud-Est" class="optionGroup">Sud-Est</option>
                <option value="Anse-a-pitre" class="optionChild">Anse-a-pitre</option>
                <option value="Bainet" class="optionChild">Bainet</option>
                <option value="Belle anse" class="optionChild">Belle anse</option>
                <option value="Cayes-jacmel" class="optionChild">Cayes-jacmel</option>
                <option value="Cote-de-fer" class="optionChild">Cote-de-fer</option>
                <option value="Grand gosier" class="optionChild">Grand gosier</option>
                <option value="Jacmel" class="optionChild">Jacmel</option>
                <option value="La vallee" class="optionChild">La vallee</option>
                <option value="Marigot" class="optionChild">Marigot</option>
                <option value="Thiotte" class="optionChild">Thiotte</option>
            <option value="none">P/A</option>
            </select></td>
        </tr>
        <tr>
            <th><label for="age_start">Age Min:</label></th>
            <th><label for="age_end">Age Max:</label></th>
            <th><label for="gender">Gender</label></th>
        </tr>
        <tr>
            <td><select name="age_start">
            <option value="0" selected>Select Age</option>
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
            <option value="13">13</option>
            <option value="14">14</option>
            <option value="15">15</option>
            <option value="16">16</option>
            <option value="17">17</option>
            <option value="18">18</option>
            </select></td>
            <td><select name="age_end">
            <option value="0" selected>Select Age</option>
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
            <option value="13">13</option>
            <option value="14">14</option>
            <option value="15">15</option>
            <option value="16">16</option>
            <option value="17">17</option>
            <option value="18">18</option>
            </select></td>
            <td><select name="gender">
            <option value="" selected>Select Gender</option>
            <option {% if gender == "male" %} selected {% endif %} value="male">Boys</option>
            <option {% if gender == "female" %} selected {% endif %}  value="female">Girls</option>
            <option value="none">Boys &amp; girls</option>
            <option value="none">N/A</option>
            </select></td>
        </tr>    
</table>
<div align="left">
<input type="submit" class="btn btn-d user" align="left" value="Search">    
</div>    
</form> 

  <table class="table records">
    <thead>
      <tr>
        <th>Organization Name</th>
        <th>Department</th>
      </tr>
    </thead>

  {% for record in records %}
      <tbody>
        <tr>
          <td><a href="/admin/records/{{ record[1] }}"><i class="ico">✎</i> {{ record[0] }}</a></td>
          <td>{{ record[2] }}</td>
        </tr>

      </tbody>
  {% endfor %}
{% endif %}
</table>
       
    {% if last_page >= 0 %}
    <a href="/admin/records?page={{last_page}}" class="btn btn-d user">Previous Page</a>
    {% endif %}
    <a href="/admin/records?page={{next_page}}" class="btn btn-d user">Next Page</a>

  {% if records_length == 0 %}
    <p>Aucun</p>
  {% endif %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script type="text/javascript">
  console.log("in script");
  $( "form" ).on( "submit", function( event ) {
    console.log("on submit")
    event.preventDefault();
    var queryString = $( this ).serialize();
    console.log(queryString);
    window.location = "/admin/records?" + queryString + "#search-mid";
  });
</script>
{% endblock %}