{% extends "legacy_admin.html" %}

{% block breadcrumbs %}
<div class="container">
  <div class="breadcrumbs">
    <a id="breadcrumb_home" href="/">Home</a> / <a id="breadcrumb_admin" href="/admin">Admin</a> / <a id="breadcrumb_admin_organizations" href="/admin/records">Records</a>
    <div id="language" style="text-align: right; float:right; margin-right: 20px;">
      <a href="/language?language='fr">Français</a> / <a href="/language?language='en'">English </a>
    </div>
  </div>
</div>
{% endblock %}

{% block content %}
  <h2>Records</h2>
  <a href="/records/new" class="btn btn-b">Add Record</a>

  <a href="#" class="btn btn-b">See Record History</a>
  <p>
    {% if last_page >= 0 %}
      <a href="/admin/records?page={{last_page}}">Last Page</a>
    {% endif %}
    <a href="/admin/records?page={{next_page}}">Next Page</a>
  </p>

  {% if records_length > 0 %}
    <table class="table records">
      <thead>
        <tr>
          <th>Name of Organization</th>
        </tr>
      </thead>

    {% for record in records %}
        <tbody>
          <tr>
            <td><a href="/admin/records/"><i class="ico">✎</i>  {{ record }}</a></td>
          </tr>
        </tbody>
    {% endfor %}
  {% endif %}
  </table>


  {% if records_length == 0 %}
    <p>No records added</p>
  {% endif %}
{% endblock %}
