{% extends "legacy_admin.html" %}

{% block title %}
<title>Users: Cartographie des services disponibles pour enfants et familles vulnérables en Haïti</title>
{% endblock %}

{% block breadcrumbs %}
<div class="container">
  <div class="breadcrumbs">
    <a id="breadcrumb_home" href="/">Home</a> / <a id="breadcrumb_admin" href="/admin">Admin</a> / <a id="breadcrumb_admin_users" href="/admin/users">Users</a>
    <div id="language" style="text-align: right; float: right; margin-right: 20px;">
      <a href="/language?language='fr">Français</a> / <a href="/language?language='en'">English </a>
    </div>
  </div>
</div>
{% endblock %}

{% block content %}
  <h2>Users</h2>
  <a href="/admin/users/new" class="btn btn-a">Add User</a>
  <a href="/admin/users/dashboard" class="btn btn-b">See User Changes</a>
  <a href="/admin/export/users" class="btn btn-b">Download CSV</a>

  {% if users.count() > 0 %}
    <table class="table">
      <thead>
        <tr>
          <th>Email</th>
          <th>Name</th>
          <th>Organization</th>
          <th>Phone</th>
          <th>Role</th>
          <th>Email Confirmed</th>
        </tr>
      </thead>

    {% for user in users %}

        <tbody>
          <tr>
            <td><a href="/users/{{ user.key.id() }}/edit"><i class="ico">✎</i> {{ user.email }}</a></td>
            <td>{{ user.name }}</td>
            <td>{{ user.organization }}</td>
            <td>{{ user.phone }}</td>
            <td>{{ user.role }}</td>
            <td>{{ user.email_authorized }}</td>
          </tr>
        </tbody>
    {% endfor %}
  {% endif %}
  </table>


  {% if users.count() == 0 %}
    <p>No users added</p>
  {% endif %}
{% endblock %}
