{% extends "legacy_admin.html" %}

{% block breadcrumbs %}
<div class="container">
  <div class="breadcrumbs">
    <a id="breadcrumb_home" href="/">Home</a> / <a id="breadcrumb_admin" href="/admin">Admin</a> / <a id="breadcrumb_admin_organizations" href="/admin/records">Records</a>
    <div id="language" style="text-align: right; float:right; margin-right: 20px;">
      <a href="/language?language='fr">Français</a> / <a href="/language?language='en'">English </a>
    </div>
  </div>
</div>
{% endblock %}

{% block content %}
  <h3>Gathering information on services available to vulnerable children</h3>
  <p>ID_1: {{ record[2] }}</p>
  <p>General information on the organization: {{ record[3] }}</p>
  <p>Organization Name: {{ record[4] }}</p>
  <p>Department: {{ record[5] }}</p>
  <p>Commune: {{ record[6] }}</p>
  <p>Section communale: {{ record[7] }}</p>
  <p>Address: {{ record[8] }}</p>
  <p>GPS Location: {{ record[9] }}</p>
  <p>Latitude: {{ record[10] }}</p>
  <p>Longitude: {{ record[11] }}</p>
  <p>Postbox: {{ record[12] }}</p>
  <p>Phone Number: {{ record[13] }}</p>
  <p>Contact: {{ record[14] }}</p>
  <p>Email: {{ record[15] }}</p>
  <p>Website: {{ record[16] }}</p>
<!--   <p>6. Type</p>
  <p>6.a. Please give details</p>
  <p>6.c. Institution statement</p>
  <p>6.b. Other organization</p>
  <p>6.d. Other status</p>
  <p>7. Days of operation</p>
  <p>7.a. Hours of operation</p>
  <p>8. Fundamental objectives of your organization</p>
  <p>9. Funding Source</p>
  <p>9.b. Other Source</p>
  <p>9.a. Which one?</p>
  <p>9.b. How many</p>
  <p>9.c. Please give details</p>
  <p>10. How does your organization define: vulnerable children?</p>
  <p>11. Which category of vulnerable children is supported by the program?</p>
  <p>11.a. (Prog 1) Nutrition</p>
  <p>11.a.1. Other Nutrition</p>
  <p>11.b. (Prog 2) Home-based Care</p>
  <p>11.b.1. Other home-based care</p>
  <p>11.c. (Prog 3) Shelter</p>
  <p>11.c.1 What type</p>
  <p>11.c.2. TRANSLATION UNCLEAR</p>
  <p>11.c.3. Other, specify</p>
  <p>11.c.4. Other shelter</p>
  <p>11.d. (Prog 4) Child protection</p>
  <p>11.d.1 Other Protection</p>
  <p>11.e. (Prog 5) Health</p>
  <p>11.e.1. Other health</p>
  <p>11.f. (Prog 6) Psychosocial support</p>
  <p>11.f.1. Other support</p>
  <p>11.g. (Prog 7) Education</p>
  <p>11.g.2. Assistance with</p>
  <p>11.g.3. other assistance</p>
  <p>11.g.3. How much?</p>
  <p>11.g.1. Other education</p>
  <p>11.0. Other</p>
  <p>19. What is the estimated monthly budget for these programs?</p>
  <p>20. Are you able to fill all costs allocated for the program(s)?</p>
  <p>21. How did or does the organization evaluate activities or programs? Cite and show supporting documents.</p>
  <p>21.a. List 5 challenges in working with the most vulnerable children. (separate with commas)</p>
  <p>21.b. List 5 lessons learned in working with the most vulnerable children. (separate with commas)</p>
  <p>23. Do you know of other organizations in the region offering services for vulnerable children</p>
  <p>23.a. Oganization names and addresses (separate list by comma)</p>
  <p>23.b. List the services you believe these organizations offer</p>
  <p>23.c. If so, which (name and address):</p>
  <p>When your service started</p>
  <p>Coordinate</p>
  <p>When it estce or services atil cess dexister</p>
  <p>Your organization support girls and boys</p>
  <p>17 dge portion of the boys children benefits programm</p>
  <p>18 dge slice of girls benefits year 20 programs</p>
  <p>How 13</p>
  <p>Other assistance13</p>
  <p>Relationship daide</p>
  <p>Specify other</p>
  <p>Other training location tracking</p>
  <p>Number stakeholders working</p> -->
{% endblock %}
