/* TIMOUN CUSTOM STYLES */


/* BASE STYLES */
html {height: 100%;}
body {font-family: verdana, sans-serif; width: 100%; height: 100%;}
#wrapper {min-height: 100%; position: relative; margin-bottom: -20px;}
.container {margin: 0 auto;}
hr {width: 80%; margin-top: 0; margin-bottom: 30px; border: 1px solid #888;}

/* BREADCRUMBS */
.breadcrumbs {background: #eeeeee; text-align: left; width: 100%; padding-right: 0; padding-left: 0; clear:both;}
.breadcrumbs a {color: #187d9f;}
a#breadcrumb_home {margin-left: 20px;}
@media (max-width: 500px) {
.nav div:before {background: #187d9f;}
}

/* BRANDING */
#header {padding: 10px; 0 0 0; background: #1c6cb4; height: 150px;}
#header h2, #header h3 {color: #eee; margin-left: 0; margin-bottom: 0; width: 100%; text-align: left;}
#header h3 {font-size: large;}
.logo {float: left; width: 25%; margin: 0 20px 0 60px;}
.logo img {position: relative; float: right; padding: 0;}
.brandname {width: 85%;}
.french_header h2 {font-size: 1.8em;}
@media (max-width: 1169px) {
    #header h3 {margin-top: 0; width: 95%;}
}
@media (max-width: 993px) {
    #header h2, #header h3 {margin-top: 5px;}
}
@media (max-width: 718px) {
    .brandname {width: 100%;}
    .french_header h3 {font-size: .9em!important;}
}
@media (max-width: 579px) {
    #header {height: 175px;}
    #header h2 {font-size: 1.5em;}
    #header h3 {font-size: 1em; margin-top: 10px;}
    .logo {margin-bottom: 40px;}
}
@media (max-width: 461px) {
    #header h2 {font-size: 1.2em;}
}

.genericon {color: #f36813; background: }
.icon-box {width:25%; float: left;}
.icon-box p {text-align:center;}
.icon-row {clear:both; min-height:175px; width:100%;}
@media (max-width:768px) {
    .icon-box {width: 100%; clear:both;}
    .icon-row {min-height: 275px;}
}
@media (max-width: 669px) {
    #french_icon-row {min-height: 335px;}
}

/* FOOTER */
#footer {width: 100%; background: #1f538c; height: 125px; bottom: 0; position: relative; clear:both;}
.clearfooter {height: 125px;}
p.copy {font-size: 14px; text-align: center!important; padding: 0 0 0 0; margin: 0 0 10px 0; color: #fff;}
p.copy a {color: #f36813; font-weight: bold; font-size: 14px; line-height: 1.5em;}
p.copy a:hover {color: #e89b55;}
@media (max-width: 699px) {
    #footer {height:150px;}
}
#footer ul {list-style-type: none; margin: 0; padding: 10px 0 0 0;}
#footer ul li {display:inline; margin-right: 20px; font-size: large;}
#footer ul li a {color: #f9c700;}


/* TYPOGRAPHY */
h1, h2, h3, h4, h5, h6, p {width: 80%; margin-left: 10%;}
h1 {color: #333; font-size: 2.5em; text-align: center; padding-top: .75em;}
h2, h3 {color: #333; text-align: center;}
p {color: #302e2c;}

/* LINKS */
a:link {text-decoration: none;}

/* MAP */
#map {width: 80%; margin-left: 10%;}

/* CALL TO ACTION & BUTTONS */
.btn {margin-right: 10%; margin-left: 10%; font-size: large;}
.map-cta {width: 100%; margin: 20px 0 0 0; text-align: center;}
.bottom h3 {font-size: 1.5em; padding-top: 40px;}

/* MIN+ PLUGIN */
message {
    display: block;
    padding: 2em;
    background: #def;
    border-left: 5px solid #44e;
}

.warning {
    border-color: #e44;
    background: #fdd;
}

.great {
    border-color: #2d2;
    background: #dfd;
}

/* BLOCK STYLINGS */
.top {padding: 0 0 20px 0; margin-top: -27px;}
.mid {background: #1c6cb4; color: #fff; padding: 20px 0 30px 0;}
.bottom {margin-top: -19px;}
.mid h2 {color: #f9c700; margin-left: 10%; width 80%;}
.mid h3 {color: #fff;}
.mid p {color: #eee; margin-left: 10%; width: 80%;}
.mid-divide {width: 80%; margin-left: 10%;}
.list {margin-bottom: -10px; margin-top: 30px; text-align: center; font-size: large; color:#333;}
.detail {text-align: left;}
#search-mid h2 {color: #f9c700; margin-left: 0!important;}
#search-mid p {color: #eee; margin-left: 0!important;}

.footnote {width: 100%; height:50px; margin-bottom: -125px;}
#french_footnote {height: 70px;}
.footnote .french {height: 70px!important;}
.footnote_left {width: 70%; float: left;}
.bottom-cta {width: 30%; float: left;}
.footnote {background: #eee; padding: 20px 0 30px 0;}
.footnote h3 {float: left; text-align: left; margin-top: 0;}
.footnote p {float:left; text-align: left; color: #333; margin-top: 0;}
.footnote .btn {margin-top: 5px; text-align: center;}
@media (max-width:992px) {
    .footnote {height: 75px;}
    .footnote .btn {margin-top: 20px;}
    #french_bottom-cta .btn {margin-top:0;}
}
@media (max-width: 882px) {
    #french_footnote {height: 95px}
}
@media (max-width:777px) {
    .footnote {height: 100px;}
}
@media (max-width: 662px) {
    #french_footnote {height: 125px;}
}
@media (max-width:475px) {
    .footnote {height: 175px; margin-top: 20px;}
    #french_footnote {height: 185px}
    .footnote_left {width: 100%; clear:both;}
    .footnote p, .footnote h3 {text-align: center;}
    .bottom-cta {text-align: center; width: 100%; clear:both;}
    .footnote .btn {margin-left: auto; margin-right: auto; margin-top: 0;}
}

/* SEARCH */
#main-search-form {width: 100%;}
.search {min-width: 250px; display: inline; margin:0; position:relative;}
.search select {background: #fff; height: 40px; width: 150px; margin-bottom: 30px; margin-right: 30px; position:relative; display: inline;}
.search option, {padding: 10px; position:relative; display: inline;}
.search, .search label {display: inline;}
.search input#keywords {display: inline; position: relative; min-width: 250px; background: #fff; margin-right: 20px;}

/* Search Map & Results Box */

.search-map {width: 40%!important; float: left!important; height: 400px!important; margin: 0; padding: 0;}
.results-box {background:#fff; width: 39%; margin-top: -3px; margin-left: 1%; padding: 0; border: 3px solid #302e2c; height: 400px; overflow: scroll; float: left;}
.result {width: 80%; margin-left: 10%; padding: 10px 0 10px 0; border-bottom: 1px solid #999;}
.result p {color:#258db1; margin:0; padding-bottom: 5px;}
ul.pagination {float: left;list-style-type: none; padding: 0; margin: 25px 0 25px 0; width: 100%;}
ul.pagination li {display: inline; background: #f9c700; padding: 5px 10px 5px 10px;}
ul.pagination li a {color: #333;}
.search-again {text-align: center; clear:both;}

@media (max-width: 767px) {
    .search-map {width: 80%!important; margin-left: 10%; clear:both;}
    .results-box {width: 80%; margin-top: 20px; margin-left: 10%;}
}

@media (max-width: 959px) {
    .search {disply: block; clear:both;}
    .search input, .search select, .search input#keywords {display:block; margin-bottom: 20px; margin-top: 8px; width: 60%!important; margin-left:30px;}
    .search, .search label, .search input#keywords {display: block; clear:both;}
}

/* CONTACT & SUGGEST SERVICES*/
.contact-form input#keywords, .contact input, .contact-form select {width: 250px;}
.contact-form select {height: 30px;}
.suggest td {padding-bottom:10px;}
.contact-form .checkbox input {border:1px solid red;}
.contact-form table tr, .suggest table tr {margin-bottom: 20px;}
.contact-form textarea {width: 250px; height: 200px;}
.contact-form #submit, .suggest #submit {margin-left:120px;}


/* MANUAL */
.main h2, .main h3 {text-align: left;}
.main ul {margin:0; padding: 0; width: 100%;}
.main ul li {display: block; margin-left: 12%; margin-bottom: 10px; color: #525252}

/* LOGIN PAGES */
.login, .contact-form {margin-left: 10%;}
.login input {width: 250px!important;}
#submit {width: 150px!important; background: #302e2c; font-size: 1em; border-radius: 6px; border: 0; color: #fff; cursor: pointer; display: inline-block; margin: 2px 0; padding: 12px 30px 14px;}
#submit:hover {background: #888;}

/* ERROR */
.errors {width: 50%; margin-left: 8%;}
.errors li {list-style-type:circle; color: #7F0000;}

/* ADMIN */
/*.alt {float: left; width:80%; margin-left: 20%;}
.sidebar {float: left; position: absolute; width: 20%; background: #302e2c; min-height: 100%;}
.admin {background: #302e2c; display: block; text-align: left;}
.admin a {color:#fff; font-size: small; clear: both; float: left; line-height: 1.3em; margin-bottom: 0; width: 100%; text-align: left; word-break: break-all; padding: 10px;}
.admin a:hover {text-align: left; width: 100%;}
.admin a.first {margin-top:30px;}
*/

/* RECORDS */
/*
table.records {margin-bottom: 20px;}
table.records tr:nth-child(even) {background: #fff!important;}
table.records tr:nth-child(odd) {background: #187d9f!important;}
table.records tr:nth-child(even) a {color: #187d9f!important;}
table.records tr:nth-child(odd) a {color:#fff;!important}
*/

/* KEEP AT BOTTOM OF STYLESHEET */
.leaflet-popup-content p (color: #888;}
