/* TIMOUN CUSTOM STYLES */


/* BASE STYLES */
html {height: 100%;}
body {font-family: verdana, sans-serif; width: 100%; height: 100%;}
#wrapper {min-height: 100%; position: relative; margin-bottom: -20px;}
.container {margin: 0 auto;}

/* NAV */
.nav, .nav .current, .nav a:hover {background: #187d9f; color:#fff; text-align: center;}
.nav a {color: #e2eff8;}
.nav {height: 30px; width: 100%;}
.nav .container {margin: 0 20px;}
.breadcrumbs {background: #e6e6e6; text-align: center; width: 100%; padding-right: 0; padding-left: 0;}
.breadcrumbs a {color: #187d9f;}
a#breadcrumb_home {margin-left: 5px;}
@media (max-width: 500px) {
.nav div:before {background: #187d9f;}
}
/* BRANDING */
.genericon {color: #258db1;}

/* FOOTER */
#footer {width: 100%; background: #efefef; height: 65px; bottom: 0; position: relative; clear:both;}
.clearfooter {height: 10px;}
p.copy {font-size: 12px; text-align: center!important; padding: 10px 0 0 0; margin: 10px 0 10 0;}
p.attribution {font-size: 10px; margin: -10px 0 0 0; padding: 0; text-align: center!important;}


/* TYPOGRAPHY */
h1, h2, h3, h4, h5, h6, p {width: 80%; margin-left: 10%;}
h1 {color: #187d9f; font-size: 2.5em; text-align: center;}
h2 {color: #258db1; text-align: center;}
h3 {color: #339ec3; text-align: center;}
p {color: #525252;}

/* LINKS */
a:link {text-decoration: none;}

/* MAP */
#map {width: 80%; margin-left: 10%;}

/* CALL TO ACTION & BUTTONS */
.btn {margin-right: 10%; margin-left: 10%;}
.map-cta, .bottom-cta {width: 100%; margin: 20px 0 0 0; text-align: center;}
.mid .btn {background: #302e2c;}
.mid .btn:hover {background: #888;}
.bottom-cta .btn {background: #187d9f;}
.bottom-cta .btn:hover {background: #339ec3;}

/* MIN+ PLUGIN */
message {
    display: block;
    padding: 2em;
    background: #def;
    border-left: 5px solid #44e;
}

.warning {
    border-color: #e44;
    background: #fdd;
}

.great {
    border-color: #2d2;
    background: #dfd;
}

/* BLOCK STYLINGS */
.top {padding: 0 0 20px 0;}
.mid {background: #258db1; color: #fff; padding: 20px 0 30px 0;}
.mid h2 {color: #fff;}
.mid h2, .mid h3, .mid p, .footnote p {color:#fff;}
.mid-divide {width: 80%; margin-left: 10%;}
.list {margin-bottom: -10px; margin-top: 30px; text-align: center;}
.detail {text-align: left;}
.footnote {background: #302e2c; padding: 20px 0 30px 0;}
.footnote p {text-align: center;}

/* SEARCH */
#main-search-form {width: 100%;}
.search {min-width: 250px; display: inline; margin:0; position:relative;}
.search select {background: #fff; height: 40px; width: 150px; margin-bottom: 30px; margin-right: 30px; position:relative; display: inline;}
.search option, {padding: 10px; position:relative; display: inline;}
.search, .search label {display: inline;}
.search input#keywords {display: inline; position: relative; min-width: 250px; background: #fff; margin-right: 20px;}
.search .checkbox input {display: inline; position: relative; width: 15px!important; height: 15px!important; margin-left: 10px!important; margin-right: 2px!important;}
.search .checkbox label {display: inline; position: relative; margin-right: 10px;}
.results-box {background:#fff; width: 80%; margin-left: 10%; border: 3px solid #302e2c; height: 400px; overflow: scroll;}
.result {width: 80%; margin-left: 10%; padding: 10px 0 10px 0; border-bottom: 1px solid #999;}
.result p {color:#258db1; margin:0; padding-bottom: 5px;}
ul.pagination {list-style-type: none; padding: 0; margin: 25px 0 0 0; width: 100%;}
ul.pagination li {display: inline; background: #fff; padding: 5px 10px 5px 10px;}
ul.pagination li a {color: #258db1}

@media (max-width: 959px) {
    .search {disply: block; clear:both;}
    .search input, .search select, .search input#keywords {display:block; margin-bottom: 20px; margin-top: 8px; width: 60%!important; margin-left:30px;}
    .search, .search label, .search input#keywords {display: block; clear:both;}
}

/* CONTACT & SUGGEST SERVICES*/
.contact-form input#keywords, .contact input, .contact-form select {width: 250px;}
.contact-form select {height: 30px;}
.suggest td {padding-bottom:10px;}
.contact-form .checkbox input {border:1px solid red;}
.contact-form table tr, .suggest table tr {margin-bottom: 20px;}
.contact-form textarea {width: 250px; height: 200px;}
.contact-form #submit, .suggest #submit {margin-left:120px;}


/* MANUAL */
.main h2, .main h3 {text-align: left;}
.main ul {margin:0; padding: 0; width: 100%;}
.main ul li {display: block; margin-left: 12%; margin-bottom: 10px; color: #525252}

/* LOGIN PAGES */
.login, .contact-form {margin-left: 10%;}
.login input {width: 250px!important;}
#submit {width: 150px!important; background: #302e2c; font-size: 1em; border-radius: 6px; border: 0; color: #fff; cursor: pointer; display: inline-block; margin: 2px 0; padding: 12px 30px 14px;}
#submit:hover {background: #888;}

/* ERROR */
.errors {width: 50%; margin-left: 8%;}
.errors li {list-style-type:circle; color: #7F0000;}

/* ADMIN */
.alt {float: left; width:80%; margin-left: 20%;}
.sidebar {float: left; position: absolute; width: 20%; background: #302e2c; min-height: 100%;}
.admin {background: #302e2c; display: block; text-align: left;}
.admin a {color:#fff; font-size: small; clear: both; float: left; line-height: 1.3em; margin-bottom: 0; width: 100%; text-align: left; word-break: break-all; padding: 10px;}
.admin a:hover {text-align: left; width: 100%;}
.admin a.first {margin-top:30px;}

/* RECORDS */
table.records {margin-bottom: 20px;}
table.records tr {background: #fff;}
table.records a {background: #187d9f;}


/* KEEP AT BOTTOM OF STYLESHEET */
.leaflet-popup-content p (color: #888;}
