/* TIMOUN CUSTOM STYLES */


/* BASE STYLES */
.container {margin: 0 auto;}
body {font-family: verdana, sans-serif;}
.nav {height: 30px;} 
.nav .container {margin: 0 20px;}
.breadcrumbs {background: #e6e6e6; width: 100%;}

/* BRANDING */

/* TYPOGRAPHY */
h2, h3, p {margin-left: 20px;}

/* LINKS */
a:link {text-decoration: none;}



/* MIN+ PLUGIN */
message {
    display: block;
    padding: 2em;
    background: #def;
    border-left: 5px solid #44e;
}

.warning {
    border-color: #e44;
    background: #fdd;
}

.great {
    border-color: #2d2;
    background: #dfd;
}