{% extends "legacy_admin.html" %}

{% block title %}
<title>Modifier l'utilisateur: Cartographie des services disponibles pour enfants et familles vulnérables en Haïti</title>
{% endblock %}

{% block breadcrumbs %}
<div class="container">
  <div class="breadcrumbs">
    <a id="breadcrumb_admin" href="/admin">Admin</a> / Edit User
    <div id="language" style="text-align: right; margin-top: -20px; margin-right: 20px;">
      <a href="/language?language='fr">Français</a> / <a href="/language?language='en'">English </a>
    </div>
  </div>
</div>
{% endblock %}

{% block content %}
  <h1>Need French Translation</h1>

  <h2>{{ user_email }} Profil</h2>
  {% if form.errors %}
    <ul class="errors">
        {% for field_name, field_errors in form.errors|dictsort if field_errors %}
            {% for error in field_errors %}
                <li>{{ form[field_name].label }}: {{ error }}</li>
            {% endfor %}
        {% endfor %}
    </ul>
  {% endif %}
  <form method="POST" action="/users/{{ user_key }}/edit">
    <table>
      <tr>
        <td>{{ form.email.label }}</td>
        <td>{{ form.email()|safe }}</td>
      </tr>
      <tr>
        <td>{{ form.name.label }}</td>
        <td>{{ form.name()|safe }}</td>
      </tr>
      <tr>
        <td>{{ form.organization.label }}</td>
        <td>{{ form.organization()|safe }}</td>
      </tr>
      <tr>
        <td>{{ form.phone.label }}</td>
        <td>{{ form.phone()|safe }}</td>
      </tr>
      <tr>
        <td>{{ form.role.label }}</td>
        <td>{{ form.role()|safe }}</td>
      </tr>
    </table>
    <br>
    <input type=submit value=Submit>
  </form>
  <a id="delete-user" href="/users/{{ user_key }}/delete" onclick="return confirm('Êtes-vous sûr de vouloir supprimer cet utilisateur?');">Supprimer User</a>
{% endblock %}
