{% extends "legacy_base.html" %}

{% block title %}
<title>Profil: Cartographie des services disponibles pour enfants et familles vulnérables en Haïti</title>
{% endblock %}


{% block breadcrumbs %}
<div class="container">
  <div class="breadcrumbs">
    <a id="breadcrumb_home" href="/">Home</a> / Profil
    <div id="language" style="text-align: right; margin-top: -20px; margin-right: 20px;">
      <a href="/language?language='fr">Français</a> / <a href="/language?language='en'">English </a>
    </div>
  </div>
</div>
{% endblock %}

{% block content %}
  <h1>Need French Translation</h1>
  <h2>{{ user_session }} Profil</h2>
  {% if form.errors %}
    <ul class="errors">
        {% for field_name, field_errors in form.errors|dictsort if field_errors %}
            {% for error in field_errors %}
                <li>{{ form[field_name].label }}: {{ error }}</li>
            {% endfor %}
        {% endfor %}
    </ul>
  {% endif %}
  <form method="POST" action="/users/profile" class="contact-form">
    <table>
      <tr>
        <td>{{ form.name.label }}</td>
        <td>{{ form.name()|safe }}</td>
      </tr>
      <tr>
        <td>{{ form.organization.label }}</td>
        <td>{{ form.organization()|safe }}</td>
      </tr>
      <tr>
        <td>{{ form.phone.label }}</td>
        <td>{{ form.phone()|safe }}</td>
      </tr>
      <tr>
        <td>Role</td>
        <td>{{ role }}</td>
      </tr>

    </table>
    <br>
    <input type="submit" value="Soumettre" id="submit">
  </form>
{% endblock %}
