{% extends "legacy_base.html" %}

{% block breadcrumbs %}
<div class="container">
  <div class="breadcrumbs">
    <a id="breadcrumb_home" href="/">Home</a> / Reset Password
    <div id="language" style="text-align: right; margin-top: -20px; margin-right: 20px;">
      <a href="/language?language='fr">Français</a> / <a href="/language?language='en'">English </a>
    </div>
</div>
{% endblock %}

{% block content %}
  <h1>Need French Translation</h1>
  <h1>Reset Password</h1>
  <p>Please enter your email below. You will receive and email that will explain how to reset your password.</p>

  {% if form.errors %}
    <ul class="errors">
        {% for field_name, field_errors in form.errors|dictsort if field_errors %}
            {% for error in field_errors %}
                <li>{{ form[field_name].label }}: {{ error }}</li>
            {% endfor %}
        {% endfor %}
    </ul>
  {% endif %}
  <form method="POST" action="/users/reset_password" class="contact-form">
    <table>
      <tr>
        <td>{{ form.email.label }}</td>
        <td>{{ form.email()|safe }}</td>
      </tr>
      <tr>
        <td>{{ form.email_confirmation.label }}</td>
        <td>{{ form.email_confirmation()|safe }}</td>
      </tr>
    </table>
    <br>
    <input type=submit value="Soumettre" id="submit">
  </form>
{% endblock %}
