{% extends "legacy_admin.html" %}

{% block breadcrumbs %}
<div class="container">
  <div class="breadcrumbs">
    <a id="breadcrumb_home" href="/">Home</a> / Set Password
    <div id="language" style="text-align: right; margin-top: -20px; margin-right: 20px;">
      <a href="/language?language='fr">Français</a> / <a href="/language?language='en'">English </a>
    </div>
  </div>
</div>
{% endblock %}

{% block content %}
  <h1>Need French Translation</h1>
  <h1>Set Password</h1>
  <p>Please enter your email below. Then set your password.</p>

  {% if form.errors %}
    <ul class="errors">
        {% for field_name, field_errors in form.errors|dictsort if field_errors %}
            {% for error in field_errors %}
                <li>{{ form[field_name].label }}: {{ error }}</li>
            {% endfor %}
        {% endfor %}
    </ul>
  {% endif %}
  <form method="POST" action="/users/set_password/{{ email_endpoint }}">
    <table class="block-table contact">
      <tr>
        <td>{{ form.email.label }}</td>
        <td>{{ form.email()|safe }}</td>
      </tr>
      <tr>
        <td>{{ form.password.label }}</td>
        <td>{{ form.password()|safe }}</td>
      </tr>
      <tr>
        <td>{{ form.password_confirmation.label }}</td>
        <td>{{ form.password_confirmation()|safe }}</td>
      </tr>
    </table>
    <input type=submit value="Soumettre">
  </form>
{% endblock %}
